[2014-10-05 02:35] icepicknz opened #1 "Wont install on my Pi"
Just tried to install from source and got this error, do you have any ideas?

Linking C static library libnxprd.a
[100%] Built target nxprd
running build_ext
building 'nxppy' extension
creating build
creating build/temp.linux-armv6l-2.7
gcc -pthread -fno-strict-aliasing -DNDEBUG -g -fwrapv -O2 -Wall -Wstrict-prototypes -fPIC -INxpRdLib_PublicRelease/types -INxpRdLib_PublicRelease/intfs -INxpRdLib_

[2014-10-05 05:51] #1 closed, assigned to nobody

[2014-10-22 21:48] siluial opened #2 "Simple test failing"
Fantastic to see you have put in the effort for building this python wrapper. I was afraid I'd have to dig into the explorer example code, which I'm really not excited about :) So thanks for that.

I'm having trouble getting a simple test python app to tun:

[code]

output is:

[code]

So, as you can see it simple stops at line _uid = mifare.select()_, no exceptions or errors, just stops, so I'm a

[2014-11-04 16:56] clafouti2104 opened #3 "Mifare Read Issue"
Hello,

First, thanks for the library, it looks like fantastic.
Unfortunately, I got some problems using it.
I'd like to read a mifare tag and make a http request.
Using the card_polling c script, I manage to read the tag but not using your library.
To dig a litte more, I create this little script:

[code]

Which gives me the following error:

[code]

I also try your example:

[code]

And the outp

[2014-11-16 23:38] #2 closed, assigned to nobody

[2014-11-16 23:40] #3 closed, assigned to nobody

[2014-12-13 18:46] framboise314 opened #4 "Error when no tag is on Explore NFC board"
Hello
I compiled nxppy successfully from source

I use a little loop test :

[code]

When I lounch the test with a NFC tag on the board I got :

[code]

When removing the NFC tag, I would like to print "No Card" but the script stops and send an error as here under :

[code]

When starting the script without a NFC tag I got directly

[code]

I made another try with this script read_nfc.py :

[code]

[2014-12-17 21:32] #4 closed, assigned to nobody

[2015-02-08 15:48] arthurv opened #5 "Authenticate method?"
Are there any plans to include an authenticate() method in addition to the read() and write() methods?

This is for Mifare Classic cards...thanks!

[2015-02-09 02:26] svvitale commented on #5
Hi @arthurv!  I've had a couple of other requests for Mifare Classic support, but haven't really allocated any time to work on it.  There are some reasonable examples from NXP, so I don't think it's that large of an effort.  If you were interested in doing the work, I'd be happy to include the pull request!  Short of that, you're at the mercy of my free time.  I'll start by trying to get my hands

[2015-02-10 22:48] arthurv commented on #5
It also depends on my free time but I'll have a go at it. I'm downloading the card_polling code now, and one thing I noticed were the separate commands for read() and write(): mifare_ultralight and mifare_classic, so maybe the python interface could take an argument for read() or write() depending on the type of card. I'll see what I can do.

[2015-02-15 00:44] svvitale commented on #5
The example code I found looks fairly straightforward: http://pastebin.com/UznGKDbC

I think I'd prefer to make a new python class "MifareClassic" that would support the authentication methods, separate from the existing Mifare code.  Of course, there's some overlap, but having it functionally separate from Python's perspective is a nice abstraction.

Another poster was kind enough to offer me som

[2015-02-15 09:20] arthurv commented on #5
Sounds good!

So my intended strategy is to copy the existing python class, call it "MifareClassic", swap phalMful_Write() with phalMfc_Write() and adjust the required arguments, and do the same for the read() methods and create a new one for the authenticate() method using phalMfc_Authenticate.

For NDEF data it could be a wrapper on top of those methods to set the MAD sectors, and write the data

[2015-02-15 17:02] svvitale commented on #5
Sounds great!  If there are common functions (I'm guessing mifare_init will be identical), feel free to move them into a MifareCommon.h/c.  Really appreciate the work, Arthur, you're not the first that's asked for this!

[2015-02-16 00:15] Korzonco opened #6 "nxppy.SelectError: FieldReset command failed: 20b"
Hi svvitale,

Thanks for your great work. I have been using your wrapper since last year.
It worked great so far but last week. I tried to start up a new project.
I tried to go through a simple test, to get myself familiar with it but I gave me an error.
This is my testing script, test.py, as follow:

import nxppy

mifare = nxppy.Mifare()
uid=mifare.select()
print uid

it shows this error:
Traceba

[2015-02-18 16:49] jwellnitz commented on #6
Hi - I'm new to raspberry pi and the NFC board - so I certainly could be doing something wrong - but I'm having the exact same issue (same script too). Note I am using the new Raspberry Pi 2 B.

[2015-02-18 17:12] svvitale commented on #6
Hi @Korzonco, @jwellnitz,

Note that the interface changed to be more pythonic in version 1.1 (including raising exceptions on error).  I just added an example to the README that shows how to do a simple polling loop.  Please let me know if that doesn't work for you.

https://github.com/svvitale/nxppy

[2015-02-20 03:07] Korzonco commented on #6
I tried following the README but same error appear even I use another mirco SD with a new image on it. Tried with both presenting a card or no card as well.

[2015-02-20 05:51] svvitale commented on #6
Hi @Korzonco,

Is this the same EXPLORE-NFC that you've been using all along?  Can you verify that SPI is enabled?

[2015-02-20 06:10] Korzonco commented on #6
Yes I did enable it. By sudo raspi-config.

On Feb 20, 2015 4:51 PM, "Scott Vitale" <notifications@github.com> wrote:

verify that SPI is enabled?

[2015-02-20 11:16] jwellnitz commented on #6
I tried the new example too and it would never print the uid. I thought that was because I don't have anything written to the NFC tag. So I tried the same example, replacing mifare.select with mifare.write_block(10, b'abcd') and got the error WriteError: Write failed: 20b.

[2015-02-21 17:13] svvitale commented on #6
Well, I have good news and bad news.  The good news is that I reproduced this issue with Raspian 01-31-2015.  The bad news is that I don't have a fix yet.  For now, you can revert back to Raspian 12-24-2014 and things will start to work again.  The older version is available here: http://downloads.raspberrypi.org/raspbian/images/raspbian-2014-12-25/

I'll let you guys know as soon as I have a fix

[2015-02-23 04:48] Korzonco commented on #6
Hi svvitale,

Thanks for your support!!
I was thinking is it about the GPIO connection with rpi2. I had this issues in my other projects when rpi2 was released. And there is another possibility that NXP just releases a new source files. Hope to hear your good news. :)

[2015-02-23 18:19] jwellnitz commented on #6
I tried Scott's recommendation over the weekend (to go back to the older Raspian) and here are my results. Shorter version: it worked.

- Downloaded older Raspian image
- Raspberry Pi 2 B wouldn't boot with it, I had a Raspberry Pi 1 A+ that would
- My USB hub that worked with the Pi 2 B wouldn't work with the PI 1 A+
- Went to store for new USB hub, it worked with the A+
- Tried to install python

[2015-02-24 00:43] svvitale commented on #6
Thanks for verifying, @jwellnitz. I'm working with NXP directly on some of this, so after we get over this hump, I expect smooth sailing ahead.  I'll update this issue as I make progress.

[2015-02-24 00:53] svvitale commented on #5
Not sure how far you've gotten, @arthurv, but wanted to let you know that there are some larger changes coming.  The current method I'm using is not supported in the latest Raspian release, so I'm working with NXP to make some modifications.  I'd be more specific, but I don't know the specifics yet ;).

[2015-02-27 19:49] arthurv commented on #5
Hi @svvitale , things have been quite busy on my end so not much progress besides laying out the strategy :) Look forward to hearing about the modifications!

[2015-03-01 18:58] toby314 commented on #6
Hi
I'm loving nxppy (I'm using it with the older image 14.12.25 ). Soon I'm getting a raspberry pi 2 though. Ive found out that iw dosent woek with the older images, including 14.12.25. for a school project were making a water dispensing machine using a raspberry pi and NFC tags. Using the raspberry pi 2 for this would be great. Im wondering how long it might take for nxppy to be updated for use w

[2015-03-01 22:05] svvitale commented on #6
Hi @toby314,

The updates are complete on my test machine, but there are still some
changes needed in the build process.  I expect to release something this
week that will work with the Pi2.

-Scott

On Sun, Mar 1, 2015 at 11:58 AM toby314 <notifications@github.com> wrote:

[2015-03-02 21:56] toby314 commented on #6
Hi, its me again.
I've noticed that you can only write 4 bytes to blocks 10 and 14, i was hoping that i would be able to use more than that. Is this a problem with my pi or nxppy generally? I've also found that block 6 seems to work, is there a problem with doing I'm? i'm using this for a micro-payment application, can you shed any light on using nxppy for decreaing credit on the nyfare MIFARE car

[2015-03-03 01:00] Korzonco commented on #6
Hi Toby,

I would suggest you to get a datasheet of your NFC tag. It should give you the information you need.

Cheers

[2015-03-03 18:29] michbil commented on #6
Having same problem on Raspberry PI 2, hope for fast fix.

[2015-03-04 06:05] svvitale commented on #6
This issue is now resolved in the 1.3.0 release.  Please refer to the README for some updated installation instructions, and let me know if you run into any issues.  Unfortunately I don't have a Pi2 to test on, but I have confirmed that nxppy is working again in the latest Raspian release (2015-02-16) on a Pi1 model B.

[2015-03-04 06:05] #6 closed

[2015-03-04 06:06] svvitale commented on #5
Updates are all in.  Not much has changed in the code itself, most of the changes were in the build process.  I have some Mifare Classic tags on their way to me now (thanks to the good folks at NXP).  I should be able to give you a hand with testing once they arrive.

[2015-03-04 07:02] michbil opened #7 "After 1.3.0 release NxpRdLib-Release is missing in repository"
Package installation via PIP fails since 1.3.0, i thinks it's beause pip script not downloading nxprdlib from network.
There is pip log:
In file included from Mifare.c:1:0:
    Mifare.h:31:25: fatal error: ph_NxpBuild.h: No such file or directory
    compilation terminated.
    error: command 'gcc' failed with exit status 1

[2015-03-04 07:28] michbil commented on #6
Compiled from sources on Rpi2, it works. Thank you.

[2015-03-04 16:10] svvitale commented on #7
Hi @michbil, do you have a full pip log?  I'm interested to see what happened prior to the compilation step.  It should include logging information about the package download and building of nxprdlib separately.

[2015-03-04 18:45] toby314 commented on #7
this might help.

installed a raspberry Pi 2 (wheezy feb 2015) from scratch - here is the log file of commands entered:

same problem - help ????

lxsession-edit

sudo reboot
sudo dpkg -i libneardal0_0.14-1_armhf.deb libwiringpi2-2.25-1_armhf.deb neard-explorenfc_0.1-1_armhf.deb
wget https://bootstrap.pypa.io/get-pip.py
sudo python get-pip.py
sudo pip install nxppy
# Python.h not found
sudo apt-ge

[2015-03-04 19:02] toby314 commented on #7
Forgot to post this earlier, hope this can help as well.

Collecting nxppy
  Using cached nxppy-1.3.0.tar.gz
    /usr/local/lib/python2.7/dist-packages/pkg_resources/__init__.py:2512: PEP440Warning: 'nose (dev)' is being parsed as a legacy, non PEP 440, version. You may find odd behavior and sort order. In particular it will be sorted as less than 0.0. It is recommend to migrate to PEP 440 compati

[2015-03-04 21:14] svvitale commented on #7
Fixed.  Unfortunately I had to bump the revision to 1.3.1 because pypi.  Let me know if pip doesn't work now.  Thanks!

[2015-03-04 21:14] #7 closed

[2015-03-04 22:36] toby314 commented on #7
fixed thank you

[2015-03-04 23:07] toby314 commented on #5
thanks guys for your work. I am trying to use nxppy for micro-credit transactions on MIfare 1k.  I have no idea where to start with securing (Hashing) the user data (credit) on the cards. is it built into NFC protocols ?  great work SV ! thank you.

[2015-03-05 05:36] svvitale commented on #5
Hi @toby314, unfortunately I don't know anything about how to secure micro-credit transactions over NFC.  I imagine that using the encryption mechanisms for Mifare Classic will help, but I don't know enough to safe if it will be fully secure.  Most of the secure payment systems are using EMV, which I know even less about.  Sorry I can't be of more help.

[2015-03-05 08:43] Korzonco commented on #6
Hi svvitale,

Thanks for your help.
My little rpi B+ with nxp & nxppy is back on live now.

Cheers :)

[2015-03-05 09:05] toby314 opened #8 "nxppy.WriteError= Write failed: 201"
block=10
number = 1000

while 1
    try:
        mifare.write_block(block, str(number) )
        print "write block ",str(number)
        return(1)
    except nxppy.WriteError, ex:
        print "nxppy.WriteError=", ex
        return(0)
...

     number = number -1
  #   read_block etc
---------
nxppy.WriteError= Write failed: 201

This happens intermittently about 1 in 20 times

It writes correct

[2015-03-05 17:28] svvitale commented on #8
The write command will raise if it receives an error status from the NXP Reader Library.  The 0x200 piece of the return code indicates that it's an error from the HAL component code:

[code]

And the error code is:

[code]

So it looks as if the reader did not receive a response from the tag indicating that the write succeeded.  It did, in fact, succeed, but there's no way to ensure that status.

[2015-03-05 17:28] #8 closed

[2015-03-06 09:26] toby314 opened #9 "1k MIFARE ISO14443A 13.56mhz NFC S50 Tag"
hi,
I know you are just working on the Ultralights.
are there any plans to get others working?

reading the uid and then writing to 4 bytes to block 10 gives:
uid = 9071F96B
nxppy.WriteError: Write failed: 201

[2015-03-09 20:39] svvitale commented on #9
Yes, you can't read or write Mifare 1k cards without authenticating first (see http://www.nxp.com/documents/application_note/AN1304.pdf).  This is a duplicate of #5.  Please read through that issue for a full description of our strategy.  If you'd like to contribute via a pull request, I'm more than happy to incorporate the code.

[2015-03-09 20:39] #9 closed

[2015-03-11 17:56] jctlmm opened #10 "Does nxppy supports NXP-EXPLORE card being used via UART?"
Hi,

I used a tutorial from this website https://learn.adafruit.com/downloads/pdf/adafruit-nfc-rfid-on-raspberry-pi.pdf to test my Adafruit NFC on Raspberry Pi and everything worked fine.

Now, I would like to use your extension from Python, but on your website there is a requirement that nxppy relies on SPI being enabled. Do you have any plan to extend nxppy so it can be used via UART as well?

I

[2015-03-12 05:45] svvitale commented on #10
Hi @jctlmm,

The nxppy module is specifically for the NXP EXPLORE-NFC board, which currently only works over SPI.  For the Adafruit NFC, I would recommend checking out either libnfc or nfcpy.  Here's a specific example of someone using the Adafruit board on a Raspberry Pi with nfcpy: https://answers.launchpad.net/nfcpy/+question/237349

Good luck!

[2015-03-12 05:45] #10 closed

[2015-03-12 17:09] jctlmm commented on #10
Thanks for the fast response and the feedback!!!

[2015-03-14 15:05] lazy7 opened #11 "Installation problem on B+"
After
$wget https://bootstrap.pypa.io/get-pip.py
$sudo python get-pip.py

$sudo pip install nxppy
I am getting this ...
......
[Building NXP Reader Library]

    make: *** No targets specified and no makefile found.  Stop.

    running build_ext

    building 'nxppy' extension

    creating build

    creating build/temp.linux-armv6l-2.7

    gcc -pthread -fno-strict-aliasing -DNDEBUG -g -fwrapv -

[2015-03-16 16:30] svvitale commented on #11
Hi @lazy7,

Can you try installing the Python 2.7 development tools:

[code]

And then run the install again:

[code]

Let me know if that doesn't work for you.

-Scott

[2015-03-18 11:26] Xisku opened #12 "Problem Installing, ph_NxpBuild.h not found"
Hi,

Trying to install nxppy on Raspberry B this error occurs:

`pi@raspberrypi ~ $ sudo pip install nxppy`
`Collecting nxppy`
`  Using cached nxppy-1.3.1.tar.gz
    /usr/local/lib/python3.2/dist-packages/pkg_resources/__init__.py:2512: PEP440Warning: 'nose (dev)' is being parsed as a legacy, non PEP 440, version. You may find odd behavior and sort order. In particular it will be sorted as less th

[2015-03-22 19:02] svvitale commented on #12
Hi @Xisku,

Can you take a look in /tmp/pip-build-6vycsv/nxppy/ and see if there is a neard-explorenfc-0.1 directory?  The NXP-Explore libraries are all downloaded and extracted during the build, so there's no pre-requisite to install.  Sounds as if something during that process failed on your individual system.  From the same directory I referenced, you can run "sudo ./get_nxpRdLib.sh" to retry t

[2015-03-22 21:34] lazy7 commented on #11
Thank you! It worked like a charm.

[2015-03-22 21:50] #11 closed

[2015-03-23 14:39] Xisku commented on #12
Hi @svvitale,

Thanks for answering.

There is nothing left in /tmp after the install as it erases everything. Although, while installing, I tried to monitor which files were appearing and disappearing and neard-explorenfc-0.1 shortly appeared.
Also I'm not able to download/extract again for the same reason.

I remembered later that I was using python 3.2 and you say 2.7 or 3.4 should be used, so

[2015-03-24 00:02] svvitale commented on #12
Hi @Xisku,

Yes, you're right about /tmp, forgot about that.  You can use the "--no-clean" pip option to keep those directories if the error is reproducible.

I did verify that the existing nxppy package works with the installed python 3.2 provided you install the python3-dev package first:

[code]

Let me know if you still can't get things working.

-Scott

[2015-03-25 18:25] Xisku commented on #12
Hi @svvitale ,

I ran from a clean install of Wheezy Raspbian Feb 2015 and succesfully installed.
I only tested an import and single call to nppy.Mifare(), but seems OK!

Probably, as my Raspberry had been on the shelf for a time, it wasn't fully upgraded or something of a previous installation messed with it.

This time, after installing I just did the following:
-Enable SPI
``sudo apt-get instal

[2015-03-25 18:30] svvitale commented on #12
Glad to hear it!

[2015-03-25 18:30] #12 closed

[2015-04-03 22:36] yboenec opened #13 "Couldn't read block from Mifare Classic"
Hi,

We are trying to use your library in our project with NXP Explore NFC card PN512. We have been able to read blocks from Mifare UltraLight but when it comes to Mifare Classic we can only read UID. We have got "ReadError: read failed: 782". Maybe It's the block size ? or Explore NFC proprietary driver?

Thank you,

[2015-04-04 06:10] svvitale commented on #13
Sorry, Mifare Classic is not supported yet.  See #5 .

[2015-04-04 06:10] #13 closed

[2015-04-12 12:37] ejeanneau opened #14 "Can't install nxppy on Raspberry pi B+"
Hi !

I can't install nxppy on my raspberry pi b+ (Raspbian), here the commands used :

- ENABLE SPI
- apt-get updat
- sudo apt-get install python2.7-Dev
- sudo apt-get install python-setuptools
- sudo apt-get install cmake
- wget https://bootstrap.pypa.io/get-pip.py
- sudo python get-pip.py
- sudo pip install nxppy

==>
Collecting nxppy
/usr/local/lib/python2.7/dist-packages/pip/_vendor/requests/

[2015-04-12 13:52] ejeanneau commented on #14
It's ok i've downloaded the master version on git and i have execute :

sudo python setup.py build install

Thank's !

[2015-04-13 22:36] toufou commented on #3
Hi,

Is someone find a solution?

I just install last raspbian distribution, install manually nxppy 1.3.1 and try without card and have the error:
 uid = nxppy.read_mifare()
AttributeError: 'module' object has no attribute 'read_mifare'

is there a way to fix that?

thanks,
TouFou

[2015-04-13 22:53] svvitale commented on #3
Hi @toufou,

Please check the readme.  The read_mifare function is no longer used.  There's a complete example in the readme.

-Scott

[2015-04-14 20:05] toufou commented on #3
It works!!

Thank you Scott!!

You did a very good job!
thanks again!

[2015-05-11 19:40] svvitale commented on #14
Unable to reproduce in 1.3.2 release

[2015-05-11 19:40] #14 closed

[2015-06-06 23:52] captainmorgan opened #15 ""None" output"
Using your second code example, when I touch a card to the nfc-explore device, the output is "None".

I've tested with several cards, including the MIFARE ultralight supplied with the unit.

I did install nxppy using pip.

[2015-07-17 12:32] Loubnar opened #16 "Error while installing nxppy on Raspberry Pi"
Hi,

I have encountered a problem while executing the command "sudo python setup.py build install".
It is a "IndexError" and I can't figure out how to fix it. Do you have any idea where this comes from?

Here are the details:

Traceback (most recent call last):
  File "setup.py", line 53, in <module>
    cmdclass = {'build': build_nxppy})
  File "/usr/lib/python2.7/distutils/core.py", line 152, in

[2015-07-19 15:47] user0007 commented on #16
You have to point on your eard-explorenfc-/nxprdlib folder. I think that using `glob` module in setup.py script is wrong (maybe better solution is to use os.listdir('/') and re.match?)

[2015-07-20 10:04] Loubnar commented on #16
This fixed the problem!

Thank you very much!

[2015-08-21 19:17] marfis89 opened #18 "set URI + NDEF"
hi
i want to set the uri identifier (0x00 or 0x01 open website) But with block write i only can set ascii characters?!

[2015-08-21 21:45] marfis89 commented on #18
import nxppy
mifare = nxppy.Mifare()
# Select the first available tag and return the UID
uid = mifare.select()

# Write a URL
mifare.write_block(3, b' ') #SPACE
mifare.write_block(4, b'UID ') # UID BEGIN
mifare.write_block(5, b'elem')
mifare.write_block(6, b'ent1')
mifare.write_block(7, b'4.uk')
mifare.write_block(8, b'UID') # UID END

[2015-08-26 13:53] #18 closed

[2015-08-26 13:56] marfis89 commented on #18
got my own solution with the binascii module. I will post the code in few days

[2015-08-27 00:57] djambo commented on #5
Hi @svvitale, did you had the chance to work with those Mifare Classic yet? I am trying so hard to make it work with these little guys for an internal project we are doing in my office, but I have not much knowledge of c.

[2015-08-27 10:45] techpet commented on #5
Hello @svvitale I would also like to know if there was any progress with Mifare Classic authentication method in python. I'm rather curious why there doesn't yet exist a complete python library to write to Mifare Classic tags despite of NXP-EXPORE board support for them. Thank you!

[2015-09-07 01:01] tuvaergun opened #19 "Raspberry Pi Error"
[5]+  Stopped                 nano den.py

pi@raspberrypi ~/nxppy $ sudo python den.py
Traceback (most recent call last):
  File "den.py", line 6, in <module>
    uid=mifare.select()
nxppy.SelectError: RequestA command failed: 204

pi@raspberrypi ~/nxppy $ nfc-poll
nfc-poll uses libnfc 1.7.1
NFC reader: pn532_spi:/dev/spidev0.0 opened
NFC device will poll during 30000 ms (20 pollings of 300 ms for

[2015-09-17 15:30] techpet commented on #16
http://www.nxp.com/redirect/explore-nfc-dev_latest that is referenced in get_nxpRdLib.sh line 46 returns an ERROR 404: Not Found after redirecting to http://www.nxp.com/documents/software/SW282815.zip

[2015-09-20 12:24] birogeri commented on #5
Hi! Nxppy is awesome! I would like to ask about the Mifare Classic authentication method, too. I hope you can manage to set aside some free time for it. Thanks!

[2015-09-22 09:18] svvitale commented on #16
Yes, confirmed with NXP that the link is fixed, closing.

[2015-09-22 09:18] #16 closed

[2015-09-22 09:44] svvitale commented on #19
Hi @tuvaergun, can you verify which NFC board you're using?  I haven't been able to get my board working with libnfc and the configuration you provided.  Is it possible we're using different hardware?  This is the board I'm using: http://www.nxp.com/board/PNEV512R.html

[2015-09-29 21:51] AlterCodex commented on #5
Hi there, Nxppy its an awesome project, right now I need to implement all the functions for mifare classic 1k and 4k and I'm active working on that using @techpet strategy when I finish it  would be nice to give the sources to anyone who needs it :)

[2015-09-30 13:09] paparts opened #20 "'module' object has no attribute 'Mifare'"
I got an error using the readme second example

:~$ _python read.py_

[code]

using help also throws the same error

[code]

[2015-09-30 14:19] paparts commented on #20
Managed to fix the problem with pip.

Inside the folder together with the _read.py_ file
``pip install nxppy``

[2015-09-30 14:19] #20 closed

[2015-09-30 19:10] birogeri commented on #5
That would be awesome!

[2015-10-01 17:59] timeyyy commented on #5
+1

[2015-10-09 13:14] johnpaddy opened #21 "missing setup.py"
I have just received the ExploreNFC board for my Raspberry PI B+. I have installed nxppy and Python 2 doesn't complain so I guess it's installed. During installation the only instruction I failed to get to work was the "sudo python setup.py build install" so obviously I have missed something. No setup.py can be found on the filesystem. Any ideas

[2015-10-09 13:45] johnpaddy commented on #21
Got the setup.py off this site, but when trying to run the examples the "import nxppy" works but the "mifare=nxppy.Mifare()" causes Python 2.7 to restart.

[2015-10-09 14:02] svvitale commented on #21
setup.py is only required if you're installing from source.  Are you
installing from source or pip?

On Fri, Oct 9, 2015 at 7:45 AM johnpaddy <notifications@github.com> wrote:

[2015-10-09 18:23] johnpaddy commented on #21
I tried pip first but it didn't work, so then I tried source with the
results above. I will try a clean install on a new card next week and see
if that makes a difference.

On Fri, Oct 9, 2015 at 3:02 PM, Scott Vitale <notifications@github.com>
wrote:

[2015-10-09 18:31] svvitale commented on #21
Yes, if pip doesn't work for some reason, please try to capture a log and
send it over.  That's the preferred installation method unless you're
planning to do development on nxppy itself.  Thanks!

On Fri, Oct 9, 2015 at 12:23 PM johnpaddy <notifications@github.com> wrote:

[2015-10-09 18:31] #21 closed

[2015-10-11 10:56] johnpaddy opened #22 "Installation seemed to work but python program fails"
I made a clean Wheezy installation and used pip to install nxppy. No errors as far as I could see. Trying the python examples gave me restarts at the line "mifare = nxppy.Mifare()". Any ideas? I am probably doing something idiotic but some pointers would be very helpful. Thanks.

[2015-10-11 11:13] johnpaddy commented on #22
Unable to add log file but the text follows.

pi@raspberrypi ~ $ wget https://bootstrap.pypa.io/get-pip.py
--2015-10-11 09:32:20--
https://bootstrap.pypa.io/get-pip.py

Resolving bootstrap.pypa.io (bootstrap.pypa.io)... 185.31.18.175

Connecting to bootstrap.pypa.io (bootstrap.pypa.io)|185.31.18.175|:443...
connected.

HTTP request sent, awaiting response... 200 OK
Length: 1412744 (1.3M) [text/x-p

[2015-10-14 15:35] AlterCodex commented on #5
right now I'm working on a stable version but already have the authenticate method working next is the read and write, I must speak with @svvitale  because I'm using a of of his codes https://github.com/AlterCodex/Nxppy2/tree/Develop

[2015-10-14 15:37] svvitale commented on #5
Hi @AlterCodex!  Thanks for your work on this.  Would you mind forking nxppy and then filing a pull request with your changes?  I'd like to integrate them back into the mainline after we're both satisfied with them.

[2015-10-14 15:45] AlterCodex commented on #5
Hi @svvitale no problem I will do it after it's finished ;) (maybe I will need some help doing it I'm new in git normally uses tfs)

[2015-10-14 17:28] svvitale commented on #5
Github makes it easy.  Just go to my nxppy repository and click the "fork"
button.  Now you've got a copy of the repository under your own name that
you can make commits to.  Create a pull request to offer your commits back
to me :).

On Wed, Oct 14, 2015 at 9:45 AM AlterCodex <notifications@github.com> wrote:

[2015-10-15 11:14] johnpaddy commented on #22
Any recommendations for alternative platforms for making an NFC reader? Support for explorenfc seems a bit lacking.

[2015-10-15 15:32] AlterCodex commented on #22
yes you can try the RC522 I made some test using it and it works

[2015-10-16 05:18] michaelneurohr commented on #22
Hi johnpaddy,

When using NXPPY you have to tale care that the explore-nfc daemon that comes with the official explore-nfc software is not running in the background.

What about using the official software for the explore-nfc [1]?

[1] http://www.nxp.com/board/PNEV512R.html#documentation

[2015-10-16 06:17] johnpaddy commented on #22
The official explore nfc software examples succeed in reading some of my
cards but always abort with a segmentation error.
I installed nxppy and tested it before installing the official explorenfc
software so I don't think it is the cause of the problem.
On 16 Oct 2015 06:18, "michaelneurohr" <notifications@github.com> wrote:

[2015-10-16 06:30] michaelneurohr commented on #22
Could you please send me an e-mail and describe the problem? That would really help.
You can find my mail address in my profile.

[2015-10-20 18:13] AlterCodex commented on #5
It's done i hope it help someone :)

[2015-10-25 23:04] birogeri commented on #5
I built and tested it on my Rpi, compiles & works OK on my Mifare 1Ks! Thank you!

[2015-10-26 23:36] birogeri commented on #5
@AlterCodex Two questions:
* How can I erase (eg. write 0s to a part of a block)?
 The following code drops `TypeError: must be string without null bytes, not str`
[code]
* Writing less than 8 bytes results in strange values written to the block besides the intended data
[code]
But the block is going to be `5465737400616C7565000000...` in the first case (Test[0x00]alue[0x00]...) and `5465737400000

[2015-10-26 23:54] AlterCodex commented on #5
@birogeri, I dont know why you get that error tomorrow I will check it, for the second one remember that nxppy, specially the mifare classic part its just a wrapper for the c++ code, searching on the documentation I get that :
WriteValue - phalMfc_WriteValue()
Firstly, this function creates from 4 byte input value and input address the 16 byte formatted structure according to Fig 4. Then it perfor

[2015-10-30 22:45] birogeri commented on #5
@AlterCodex (NB I don't know how to program in C++). I looked around, and I think the problem is that you use [ParseTuple here](https://github.com/AlterCodex/nxppy/blob/MifareClassic/Mifare.c#L243) with 'by' format, while @svvitale uses 'by#' which creates [two variables](https://docs.python.org/3/c-api/arg.html?highlight=parsetuple#strings-and-buffers), one is the same as y _(but accepts NUL char

[2015-11-04 20:45] svvitale commented on #5
@birogeri, I'll be integrating @AlterCodex's pull request soon.  I'll likely make a few consistency changes and I'll keep an eye on the "erase" use case specifically.

[2015-11-10 17:34] Gadouille commented on #22
Hi,
I have exactly the same problem has johnpaddy.  I installed nxppy on 2 different raspberry and when I test a simple program it abort after the line "mifare = nxppy.Mifare()" without any notification. I tried with python 2.7 and Python3, the result is the same. Did you find anything intresting to correct the issue?

[2015-11-10 17:36] svvitale commented on #22
I've still not been able to reproduce this issue.  Can you verify that SPI is enabled and you're running the python script as root (i.e. `sudo test.py`)?

[2015-11-10 18:56] michaelneurohr commented on #22
@Gadouille Do you have the official software for the EXPLORE-NFC (from the NXP website) and NXPPY installed next to each other? They seem to be conflicting.

[2015-11-12 21:40] Gadouille commented on #22
Thanks for your answers,
In fact I was trying to test the program with IDLE and IDLE3 and it is not working with it.
Yet I never tried to directly launch the program in a terminal which is working perfectly well !!!
Thanks for this wrapper, I might now be able to play a little bit with NXP.

Is it normal that IDLE is not working with it?

[2015-11-12 21:45] svvitale commented on #22
Were you running IDLE as root (via sudo)?  GPIO access on Raspberry Pi
requires root access by default.

On Thu, Nov 12, 2015 at 2:40 PM Gadouille <notifications@github.com> wrote:

[2015-11-12 21:51] Gadouille commented on #22
Nop, that's it, I Launched it directly from the operator interface.
If I launch it from the terminal with sudo privilege, it's working.
Thanks again!

[2015-12-08 02:24] wkorfhage opened #24 "File missing on nxp.com"
The NXP Reader build dies because it can't download the file. Browsing the explore-nfc documents on the NXP site, it appears the file is gone. I see files SW282811, SW282815, SW282714 and SW282715. SW282815 says it is Rev 1.5 had has the sources of all the components. Has the source been updated?

    [Downloading NXP Reader Library]
    --2015-12-07 20:04:46--  http://www.nxp.com/redirect/explore

[2015-12-08 12:22] newpipe commented on #24
Yesterday the NXP and Freescale websites got merged. Looks like the file needed for NXPPY is missing now. I'll take this up as soon as possible to get the file back onto the website.

Thanks for reporting,
Michael

[2015-12-10 20:43] grubis commented on #24
Same issue with my build try today... thanks for looking at this newpipe, looking forward to building off your great work.

[2015-12-10 21:59] AlterCodex commented on #24
I'm having the same issue, there is any other repository to download the zips files?

[2015-12-11 09:35] michaelneurohr commented on #24
I'm sorry the fix takes so long on our side. My colleagues are still working on it.
Now I made the file temporary available for you at
https://nxp.box.com/shared/static/t0cs19rvveogcsbmb094sdey3l1tyeir.zip

Just change the URL in the Python script.

[2015-12-11 14:08] zapito commented on #24
Hi all,
Same issue for me. I've some questions where surely you could help me (first I've to apologize as I'm totally newbie installing libraries and also with the NXP Explorer card):

I'm running everything in a Raspberry Pi 2 (Jessie) and I already installed the example software from NXP (SW282715.zip). Everything works fine with the example (-$ explorenfc-basic) and I can detect different NFC c

[2015-12-11 16:01] grubis commented on #24
Thanks for the work-around... I modified the shell script to copy from my local download directory instead of fetch and everything built and installed correctly. I'm reading and writing tags now!

[2015-12-11 18:50] michaelneurohr commented on #24
@zapito: Yes, please remove the explore-nfc package if you want to use nxppy otherwise you will get some conflicts. You can keep WiringPi installed.

After downloading the master branch contained in a zip file, just unzip it, modify the shell script to download the NFC Reader LIbrary from NXP with the new URL and run setup.py.

[2015-12-11 22:24] zapito commented on #24
@michaelneurohr: Thanks a lot, now it works. I follow your hints and finish with: $sudo python setup.py build install.

Regards.

[2015-12-13 22:41] forsanta opened #25 "No module named nxppy no exist"
hello,
try to install on a pi2 in debian 7.8
version 1.3.2
i've this error
NOTE: To compile programs with wiringPi, you need to add:
    -lwiringPi
  to your compile line(s) To use the Gertboard, MaxDetect, etc.
  code (the devLib), you need to also add:
    -lwiringPiDev
  to your compile line(s).

[Running ldconfig]
[Downloading NXP Reader Library]
--2015-12-13 23:32:14--  http://www.nxp.com/red

[2015-12-15 11:08] #25 closed

[2015-12-15 11:13] forsanta commented on #24
hello @michaelneurohr
I've the same issue, can you make a other tempory file in download ?

Regards.
ps : sorry for my english, i'm french ....

[2015-12-15 11:39] forsanta commented on #25
the same as https://github.com/svvitale/nxppy/issues/24

[2015-12-15 12:17] AlterCodex commented on #24
In my branch is the  zip file
Att
Altercodex

-----Original Message-----
From: "forsanta" <notifications@github.com>
Sent: ‎12/‎15/‎2015 6:14 AM
To: "svvitale/nxppy" <nxppy@noreply.github.com>
Cc: "Francisco Beltran" <fjb.pacho@gmail.com>
Subject: Re: [nxppy] File missing on nxp.com (#24)

hello @michaelneurohr
I've the same issue, can you make a other tempory file in download ?
Regards.
ps : sorr

[2015-12-15 12:51] forsanta commented on #24
thank

just to be sure , this branch https://github.com/AlterCodex/nxppy/tree/MifareClassic ?

regard

[2015-12-15 13:21] AlterCodex commented on #24
Yes, but you need to change the script

-----Original Message-----
From: "forsanta" <notifications@github.com>
Sent: ‎12/‎15/‎2015 7:51 AM
To: "svvitale/nxppy" <nxppy@noreply.github.com>
Cc: "Francisco Beltran" <fjb.pacho@gmail.com>
Subject: Re: [nxppy] File missing on nxp.com (#24)

thank
just to be sure , this branch https://github.com/AlterCodex/nxppy/tree/MifareClassic ?
regard
—
Reply to this

[2015-12-15 14:17] forsanta commented on #24
ok i get the
SW282816.zip and
the get_nxpRdLib.sh  in the branch for the classic and the other file in the master branch

[2015-12-15 14:47] eldan84 commented on #16
I got the same problem as techpet on Sep 17. Can I fix this by myself downloading http://cache.nxp.com/documents/software/SW282816.zip ?

[2015-12-15 21:17] svvitale commented on #24
@michaelneurohr any idea when this will be resolved on nxp.com?  @AlterCodex, unfortunately NXP does not allow these files to be stored on GitHub.  Can you please remove the file from your branch?

[2015-12-15 21:27] AlterCodex commented on #24
Im right now out of the office I will remove it this afternoon.

-----Original Message-----
From: "Scott Vitale" <notifications@github.com>
Sent: ‎12/‎15/‎2015 4:17 PM
To: "svvitale/nxppy" <nxppy@noreply.github.com>
Cc: "Francisco Beltran" <fjb.pacho@gmail.com>
Subject: Re: [nxppy] File missing on nxp.com (#24)

@michaelneurohr any idea when this will be resolved on nxp.com? @AlterCodex, unfortuna

[2015-12-16 06:23] michaelneurohr commented on #24
The URL is working again. It is resolved now since about 30 minutes.
I'm very sorry for the troubles you had.

[2015-12-16 14:49] AlterCodex commented on #24
dear @michaelneurohr  and @svvitale  the file was removed from my branch but I will like to chat with some one from nxp its that possible?.

[2016-01-18 15:34] AlterCodex opened #26 "I2C get blocked"
I'm trying to use the explorer module via spi and a rtc using i2c but when I run the py file that uses the nxp explorer the i2c get blocked.

[2016-02-10 09:40] juanmiguelRuaDev opened #27 "How to compile with python3?"
Hello,

Could you tell me how compile this library for python3 please?

Thank you very much.

[2016-02-12 17:42] lmbn opened #28 "raspberry pi with ubuntu mate error"
I try to install it on a raspberry pi with ubuntu mate 15.10. These are the steps i follow:

sudo apt-get update
sudo apt-get install python2.7-dev
sudo apt-get install cmake
sudo apt-get install python-pip
sudo apt-get install git
sudo apt-get install nxppy

And I get this error:

neard-explorenfc-0.9/nxprdlib/libnxprdlib.a: error adding symbols: Bad value

collect2: error: ld returned 1 exit sta

[2016-02-12 18:31] lmbn commented on #28
then i try to install from source and I get this error:

In file included from Mifare.c:1:0:
Mifare.h:31:25: fatal error: ph_NxpBuild.h: No such file or directory
compilation terminated.
error: command 'arm-linux-gnueabihf-gcc' failed with exit status 1

[2016-02-15 00:44] svvitale commented on #24
Verified today that the URL is working as well as installation via pip.  Closing.

[2016-02-15 00:44] #24 closed

[2016-02-15 00:44] #22 closed

[2016-02-15 00:46] svvitale commented on #19
Hi @tuvaergun, this issue is nearly 6 months old and I haven't received further details from you.  Closing for now - I'm happy to reopen if you can help me match your configuration/hardware.

[2016-02-15 00:46] #19 closed

[2016-02-15 00:47] svvitale commented on #15
Hi @captainmorgan, I know this issue was filed a long LONG time ago, and my apologies for not responding sooner.  I have done a fresh install today on my Raspberry Pi and I'm not able to observe this issue.  Because of the age (I'm not sure you're even still experimenting with this), I'm going to close the ticket.  If you're still having issues and would like some help, I'd be happy to reopen it.

[2016-02-15 00:47] #15 closed

[2016-02-15 05:16] svvitale commented on #28
Hadn't tried Mate yet, so I loaded it up this evening.  A couple things were broken - first the version of pip was causing issues.  Start by installing the latest version of pip:

[code]

Then I discovered that Mate uses an ARMv7 compiler that needed a few adjustments to its optimization settings and linker arguments.  I committed those changes under ce32754.  You can install them directly with th

[2016-02-15 05:16] #28 closed

[2016-02-15 05:18] svvitale commented on #26
@michaelneurohr does the explorer utilize the i2c pins at all?  Can you think of why it would be blocking?

[2016-02-15 05:37] svvitale commented on #27
Hi @juanmiguelRuaDev,

It's very similar to the Python 2 instructions:

Install pip for Python 3:
[code]

Install nxppy for Python 3:
[code]

[2016-02-15 05:37] #27 closed

[2016-02-15 05:57] michaelneurohr commented on #26
Quoting Scott Vitale <notifications@github.com>:

No, it uses the SPI interface only. I'll check in the NFC Reader
Library why the I2C pins are getting blocked.

Michael

Links:
------
[1] https://github.com/michaelneurohr
[2] https://github.com/svvitale/nxppy/issues/26#issuecomment-184068064

[2016-02-15 08:12] juanmiguelRuaDev commented on #27
Thanks,

[2016-02-20 00:56] lmbn commented on #28
Thank you! It working now!

[2016-03-10 07:50] wingesas opened #29 "Use of pins ("This channel is already in use")"
Hi there,

I' m using nxppy to playback songs in mopidy (mpd). This works great.

Since the nfc card does not use all the pins [(see here)](https://hackaday.io/project/1812-ourticket/log/5159-explore-nfc-layout), I connected three buttons to the pins 7, 8, 13 to get more functions (play next, prev, pause). This also works for pin 7, but for 8 and 13 I get the message "This channel is already in us

[2016-03-10 17:04] svvitale commented on #29
@michaelneurohr can you give any insight here?  @wingesas, the nxppy library makes use of NXP's reader library from a very high level.  We don't have any visibility into what's happening on the physical pins, we rely on the library for that low-level control.  Hopefully Michael can help answer your question.  Thanks!

[2016-03-11 08:02] helxsz opened #30 "can't work to show NFC ID"
I am using the EXPLORE-NFC with PI, I have enabled the SPI on the PI, and used the example polling example, but when the NFC approached to the NFC reader, no print out, and nothing happens.

Here is the picture of
https://www.dropbox.com/s/4pw10m2ztucav77/Screenshot%202016-03-11%2007.53.25.png?dl=0
https://www.dropbox.com/s/0nxuwrv83481srq/Screenshot%202016-03-11%2007.53.35.png?dl=0

can you give

[2016-03-11 08:32] michaelneurohr commented on #30
I assume, you are using the software from [1]? Please note, that NXPPY can not be used at the same time you use the EXPLORE-NFC software is running its daemon in the background.

[1] http://www.nxp.com/products/identification-and-security/nfc-and-reader-ics/nfc-frontend-solutions/explore-nfc-exclusive-from-element14:PNEV512R?fpsp=1&tab=Design_Tools_Tab

[2016-03-13 16:10] wingesas commented on #29
Hi Scott,

thanks for the information. It worked for me using the pins 7, 8 and 10. [Here](https://github.com/wingesas/nfc-playlist/blob/master/nfc-playlist/nfcPlaylist.py) is my code, for anyone who is interested.
I'm closing this, since it is not an issue for nxppy.

Cheers,
Sascha

[2016-03-13 16:10] #29 closed

[2016-03-15 23:35] zicheee opened #31 "How to read nfc data"
Hello,

I try to read data from a nfc tag with python. I'm using the example from the readme.md
When I test my nfc tag with an android app I get:

How can i get this data with nxppy? I tried:
`data = mifare.read_block(0)`
`print(data)`
I get something like "ðn� "€ƒHá"

When iterating to read_block(6) my data starts to print (but not starting with "my")

[2016-03-17 06:30] michaelneurohr commented on #31
It looks like you are starting to read directly from the beginning of the memory. But, depending on the tag you are using, the NDEF message does not start at the beginning of the memory. At the beginning you always have some manufacturing information like the date, the UID and others. On a NTAG for example, the NDEF message starts from page 4. See the datasheet of the NTAG [1], page 11. But the le

[2016-03-18 11:58] zicheee commented on #31
Thank you for your reply,
But i don't get it how it should work. From NXP-Taginfo I know it's an "NXP MIFARE Ultralight NTAG203".
I create a dataset "e.g. text/plain: this is my string i saved here" and write it to the tag.
Example Code:

`uid = mifare.select()`
`data = mifare.read_block(7)`
`print("UID: %s" % uid)`
`print(data)`

Output:
`UID: 04F06E81A02280`
`enthis is my str`

I tried read_bloc

[2016-03-18 12:59] michaelneurohr commented on #31
NFC Forum specifies a so called NDEF Detection Procedure for every supported Tag Type. For Type 2 Tags, like you are using, you can find this in the document NFC Forum Type 2 Tag Operation Specification 1.2 in chapter 6.4.1.
If you are wondering how you can differentiate between the different NDEF types, you can find the information in the document NFC Data Exchange Format (NDEF) Technical Specifi

[2016-03-18 15:28] zicheee commented on #31
Good idea :-)
I never thought about that easy way. Working like i expected

[2016-03-18 15:28] #31 closed

[2016-03-19 20:34] svvitale commented on #30
@helxsz please feel free to reopen this if @michaelneurohr's suggestion did not resolve your issue.

[2016-03-19 20:34] #30 closed

[2016-03-19 20:35] svvitale commented on #26
@AlterCodex it sounds like this is being fixed in an upcoming release of the NXP Reader Library.  I'll update this ticket when those changes become available.

[2016-03-20 16:46] helxsz opened #32 "ID read from NFC is different from the ID put into the NFC"
I am using the TagWriter to write '00000001' text into NFC card, however when i am using the element14 NXP card to read the data, the text based ID i read is 'DB1493AE'.  Is there a conversion, how to fix this?

[2016-03-22 15:28] LucardoNL opened #33 "Latest version of neard-explorenfc seems to lack ./nxprdlib/libnxprdlib.a"
Hey there,

While trying to install nxppy on my Raspi3 I kept running into several issues, which I've narrowed down to problem as stated in the subject. I hit this point after manually following all the download links from get_nxpRdLib.sh. WiringPi was also an issue where the build couldn't clone the repo from it's originally stated source, but changing the URL there to the github url fixed that i

[2016-03-23 14:17] svvitale commented on #33
Hi @LucardoNL,

This file is built as part of the install process, it doesn't come from the
neard-explorenfc zip file.  Unfortunately I don't yet have a Pi3 to test
on.  Are you running Raspian?  Can you try pulling the nxppy source and
then running `sudo ./get_nxpRdLib.sh` manually?

On Tue, Mar 22, 2016 at 9:28 AM LucardoNL <notifications@github.com> wrote:

[2016-03-23 16:33] LucardoNL commented on #33
Hey @svvitale,

Firstly, thank you very much for your time to answer my question!

Running sudo ./get_nxpRdLib.sh ends with no errors. What would my next step then be?

[2016-03-24 09:09] LucardoNL commented on #33
I'n not quite sure how, but I got it to work!

I ran the ./bootstrap, configure, make commands etc for the neard-explorer-* package manually following its readme, then retried the setup.py build install and this time it finished.

Thanks again for the reply.

[2016-03-24 09:09] #33 closed

[2016-03-27 19:56] kevin7979 commented on #26
Hi,
Does this problem fix yet? I have same problem that it block all my I2C after i run the NXP explore's py file.

[2016-03-28 02:28] AlterCodex commented on #26
It is not a problem of the nxppy you can modify the cop files of the box controller to avoid this problem in the official forum of the NXP explorer you can find some temporal solution

On March 27, 2016, at 2:56 PM, kevin7979 <notifications@github.com> wrote:

Hi,
Does this problem fix yet? I have same problem that it block all my I2C after i run the NXP explore's py file.

—
You are receiving thi

[2016-04-05 17:49] helxsz commented on #32
hi, @svvitale  do you know why ?

[2016-04-27 10:20] matthieuvisian opened #34 "Problem Installing, unrecognized command line option ‘-fstack-protector-strong’"
Hi,

Trying to install nxppy on Raspberry 2 this error occurs:
All goes well untill :

[code]
I did some research but can't find anything.

I need some help.

Thanks in advance !

[2016-04-27 13:44] matthieuvisian commented on #34
It seems : arm-linux-gnueabihf-gcc is an gcc 4.9 option.

And my gcc was 4.8 version. I updated it but I got still that error

[2016-04-28 14:51] svvitale commented on #34
Which OS distribution and version are you using?  I'll see if I can
reproduce this.  That part of the command line is put together by the
Python distutils, so there may be some version incompatibility there.
Also, which version of python?

On Wed, Apr 27, 2016 at 7:44 AM matthieuvisian <notifications@github.com>
wrote:

[2016-04-29 11:58] matthieuvisian commented on #34
Hi again,

I'm using Raspberry PI 2 with the latest version of Jessie.

Python version : 2.7.9

[2016-05-05 09:45] punkadiddle opened #35 "Installing nxppy breaks explorenfc-basic Example"
When installing nxppy all the system libs are build and installed for systemwide use. After that explorenfc-basic fails:
`pi@raspberrypi:~ $ explorenfc-basic
Waiting for tag or device...
on_name_lost(): :org.neardal

(explorenfc-basic:11092): GLib-GIO-WARNING **: Received property Iso14443aUid with type ay does not match expected type s in the expected interface

(explorenfc-basic:11092): GLib-GIO

[2016-05-06 16:55] AlterCodex opened #36 "NXPPY in python3"
I'm trying to work NXXPY using python3  and it shows the following error:
AttributeError: 'module' object has no attribute 'Myfare'
any idea?

[2016-05-06 16:57] svvitale commented on #36
Try "Mifare"

On Fri, May 6, 2016, 10:55 Francisco Beltran <notifications@github.com>
wrote:

[2016-05-07 00:42] AlterCodex commented on #36
That was a typo the error is AttributeError: 'module' object has no attribute 'Mifare'
 I'm trying to remake the setup that run on python3 but it's doesn't works.

[2016-05-10 22:57] AlterCodex commented on #36
It was a problem on the python3 of my raspberry, I reinstall it and run:
sudo python3 setup.py build install

[2016-05-10 22:57] #36 closed

[2016-05-12 14:38] bottlefury opened #37 "Can't install - IndexError: list index out of range"
Hi... I know others have had this problem but i'm not clear what the solution is (am a vb.net programmer so finding my way with Python/ Linux).  Now the weird thing is I did manage to install and use Nxppy a few weeks ago but have since had to start again for PI related reasons... now it seems absolutely impossible to install as I continually get the nxprdlib_dir = glob('neard-explorenfc-/nxprdlib

[2016-05-29 05:57] yon2004 commented on #37
could it be because you do not have git installed?
sudo apt-get install git

[2016-06-05 16:26] electricmill commented on #5
Thanks @svvitale and @AlterCodex for this great work. I installed @AlterCodex  work for the MifareClassic this morning - it complained about the absence of SW282816.zip so downloaded this and modified the shell script.

I am reading from block 1 of the 4k mifare - with the sameple code you provided - but it does seem to read differing data from the block; I've checked on an android app and only bl

[2016-06-15 19:15] svvitale commented on #26
@AlterCodex, the latest release (1.4.0) uses the newer NXP NFC Reader Library which should no longer block I2C.  Closing this issue for now, please re-open if you still encounter issues after upgrading.

[2016-06-15 19:15] #26 closed

[2016-06-15 19:16] svvitale commented on #37
This has been resolved in the latest release (1.4.0).  Closing this issue for now, please re-open if you still encounter issues after upgrading.

[2016-06-15 19:16] #37 closed

[2016-06-15 19:17] svvitale commented on #35
This has been resolved in the latest release (1.4.0).  nxppy no longer depends on wiringPi and neardal, so there will not be a conflict with the system libraries.  Of course, if the EXPLORE-NFC is actively being used by a different process, it will not be accessible from nxppy and vice versa.  Closing this issue for now, please re-open if you still encounter issues after upgrading.

[2016-06-15 19:17] #35 closed

[2016-06-15 19:18] svvitale commented on #34
This should be resolved in the latest release (1.4.0).  Closing this issue for now, please re-open if you still encounter issues after upgrading.  Note that I haven't done any recent testing on Wheezy, only Jessie.

[2016-06-15 19:18] #34 closed

[2016-06-15 19:23] svvitale commented on #32
Hi, @helxsz, sorry for not getting back to you sooner.  Which block are you writing into?  Also, the `write_block()` method only supports writing 4 bytes at a time.

[2016-06-17 13:20] sp4tz opened #40 "Python version not supported"
Hi there!

Im trying to install nxppy on the latest raspbian Jessy OS and python 2.7.9

after installing all dependencies, i try to run
`sudo pip install nxppy `

and i get every time this error: Python version not supported

[2016-06-17 13:56] svvitale commented on #40
My apologies, @sp4tz!  I've just rolled version 1.4.1 and verified that it correctly installs on Python 2.7 now.  Try installing via pip again.

[2016-06-17 13:56] #40 closed

[2016-06-17 14:40] sp4tz commented on #40
Thx, it works now!

[2016-07-26 12:44] RasPinator opened #42 "nxppy.SelectError: No Card detected: 4084"
Hi there,

I'm having trouble getting a simple test python app to run
on a Raspberry Pi 2 Model B running Raspbian jessie:

[code]

I keep getting an Error at:

`uid = mifare.select()`

which says:

`nxppy.SelectError: No Card detected: 4084`

whether or not a tag is placed on the nxp-module.

After failing quite a few times I tried reading the tag with the explore-nfc basic tool and that worked..

[2016-07-26 16:30] svvitale commented on #42
Can you try it in a loop just so you can be sure the card is within the field?

[code]

Also, what version of nxppy do you have installed?  In older versions, you could not use the explore-nfc basic tool and nxppy at the same time.  Make sure that the explore-nfc daemon is not running before trying to run the python version.

[2016-07-27 07:50] RasPinator commented on #42
Thank you very much for your answer!

Unfortunately I already tried it both ways (with and without the loop).
I installed nxppy via

`sudo pip install nxppy`

and it is version 1.4.3
Also, I did try to run it with and without the explore-nfc deamon being installed.

[2016-07-27 14:42] svvitale commented on #42
I forgot to ask, is this on Raspbian?  What version?  I'll see if I can
reproduce the issue.

On Wed, Jul 27, 2016 at 1:50 AM RasPinator <notifications@github.com> wrote:

[2016-07-27 14:59] RasPinator commented on #42
It's Raspbian Jessie Version May 2016

[2016-07-28 17:54] svvitale commented on #42
I've seen some rumblings about that release having SPI issues.  Do you have
an older version handy to try?  I'll try to look at this myself, but my
travel schedule is currently a little out of hand.

On Wed, Jul 27, 2016 at 8:59 AM RasPinator <notifications@github.com> wrote:

[2016-07-29 10:46] RasPinator commented on #42
Thank you very much!!!
It works with an older Version (Linux raspberrypi 4.1.13-v7+ #826 SMP PREEMPT Fri Nov 13 20:19:03 GMT 2015 armv7l GNU/Linux)

[2016-07-29 15:37] svvitale commented on #42
Glad to hear!  I'll leave this ticket open until there's a new release to test against.  It's possible something was purposely changed and inadvertently broke nxppy, but I'm willing to wait 1 release to verify.

[2016-07-31 12:41] joswr1ght opened #43 "nxppy.WriteError: Write failed: 706"
With several different Mifare UltraLight cards, I'm unable to write to the card in a consistent manner. I keep getting ```nxppy.WriteError: Write failed: 706``` errors:

[code]

The Write failed 706 error doesn't always happen when writing to the same block, and occasionally it will write all the block correctly:

[code]

Thoughts on why this write failed error is happening? I'm running a Raspberr

[2016-08-19 19:39] svvitale commented on #43
Hi @joswr1ght,

Looking through the NXP reader library's error codes, this appears to be a protocol error in the Mifare PAL component.  Since it works sometimes, I would guess that it's failing due to intermittent RF issues.  For the code you're writing, would it make sense to add a retry mechanism?

The NXP reader library is pretty low-level, so it doesn't do much error handling or retrying.  Tho

[2016-08-19 19:39] #43 closed

[2016-08-19 19:41] svvitale commented on #32
Closing since I haven't heard back in a couple months.  Please let me know if you're still encountering the issue and would like further help.

[2016-08-19 19:41] #32 closed

[2016-08-19 19:45] joswr1ght commented on #43
Thanks for looking into this @svvitale. -Josh

[2016-09-05 22:52] svvitale commented on #42
I reinstalled the latest Raspian today and successfully tested nxppy on both Python 2.7 and 3.4.  The only change needed was to enable SPI.  Not sure what the original problem was, but glad to hear things are working, @RasPinator.  Closing this ticket.

[2016-09-05 22:52] #42 closed

[2016-09-20 11:49] Blablach opened #45 "Install issue : Failed building wheel for nxppy"
Hi,
I've tried to install nxppy but i't return error..
I've tried with `pip install nxppy` and tried to clone the git and run `python setup.py build install` but they both return the error :

_Failed building wheel for nxppy_
_Command "/usr/bin/python -u -c "import setuptools, tokenize;__file__='/tmp/pip-build-pV6OJF/nxppy/setup.py';exec(compile(getattr(tokenize, 'open', open)(__file__).read().rep

[2016-09-20 14:14] svvitale commented on #45
Are you trying to install into a virtualenv or into your global Python library?  If the latter, you'll want to run `sudo pip install nxppy`.

[2016-10-17 14:30] svvitale commented on #45
Closing for now. Please let me know if you're still having issues.

[2016-10-17 14:30] #45 closed

[2016-12-06 21:57] michela opened #46 "Segmentation fault without sudo"
nxppy segfaults without sudo.

Would be useful if sudo wasn't required at run-time after installation with sudo (for the NXP library).

The EXPLORE-NFC examples don't require root to run.

[2016-12-08 20:19] svvitale commented on #46
Hi @michela, I'm not able to reproduce this condition with a fresh install of Raspbian and nxppy.  I'm able to read cards as the pi user without issue.

Is the explore-nfc daemon running in the background?  If you stop/kill it, are you able to read cards with nxppy as the pi user?

[2016-12-12 03:56] michela commented on #46
No, I get the same result whether or not explorenfcd is running or not.

[2016-12-12 22:06] svvitale commented on #46
Thanks @michela, let's try and narrow it down a little since I can't make it happen on my setup.  What version of Raspbian are you running?  Can you run your script under strace so we can see where it's faulting?

A GDB backtrace is also sometimes helpful: https://wiki.archlinux.org/index.php/Step-by-step_debugging_guide#Gdb

[2016-12-14 00:09] michela commented on #46
Pls find strace output attached.

I get the same error regardless of whether running in virtualenv or not.

[output.txt](https://github.com/svvitale/nxppy/files/650507/output.txt)

[2016-12-14 00:52] svvitale commented on #46
Thank you.  Can you also send over polling.py in its entirety?  I'm seeing some imports that I wouldn't expect from the example code.

[2016-12-14 00:57] michela commented on #46
https://github.com/michela/nfc-polling/blob/master/polling.py

[2016-12-15 00:11] svvitale commented on #46
Okay, I think I may have an idea what's going on.  With the latest version of Raspbian, the pi user is automatically included in the gpio group, which gives the user account access to the GPIO pins.  In your strace output, any access to the GPIO pins fails with "Permission denied".

Can you try adding your pi user to the gpio group like this:
`sudo usermod -a -G gpio pi`

[2016-12-15 04:14] michela commented on #46
Added pi to the gpio group but no change. strace attached

Noting I don't have a /sys/class/gpio/gpio2 folder on my device.

(nfc) pi@obe-dev-1 ~/src $ tree /sys/class/gpio
/sys/class/gpio
├── export
├── gpiochip0 -> ../../devices/platform/soc/3f200000.gpio/gpio/gpiochip0
└── unexport

[2016-12-24 16:59] rosshwalker commented on #46
Hi guys,

I am experiencing the same problem. If I elevate via sudo, working fine, but without, getting permission denied

) = 0
fstat64(0, {st_mode=S_IFREG|0600, st_size=79833, ...}) = 0
fstat64(1, {st_mode=S_IFREG|0600, st_size=79892, ...}) = 0
mmap2(NULL, 4096, PROT_READ|PROT_WRITE, MAP_PRIVATE|MAP_ANONYMOUS, -1, 0) = 0x76f8b000
fstat64(0, {st_mode=S_IFREG|0600, st_size=80038, ...}) = 0
mmap2(N

[2016-12-24 22:56] svvitale commented on #46
Hi @michela, @rosshwalker,

Which OS and version are you guys running?  My testing is on the latest Raspbian.

[2016-12-25 08:38] rosshwalker commented on #46
Distributor ID:	Raspbian
Description:	Raspbian GNU/Linux 8.0 (jessie)
Release:	8.0
Codename:	jessie

I am running my script via cups-pdf environment so realise my problem is related to this. I dont know enough about cups environment to know how to fix this one.

Ross.

[2017-01-03 00:54] svvitale commented on #46
Can you both verify that this udev rule is present?  http://stackoverflow.com/a/30940526/1697679

[2017-01-03 02:55] michela commented on #46
Confirming this line in 99-com.rules. Not sure if it was there prior to updating raspi-config and following the advice in stackoverflow

SUBSYSTEM=="gpio*", PROGRAM="/bin/sh -c 'chown -R root:gpio /sys/class/gpio && chmod -R 770 /sys/class/gpio; chown -R root:gpio /sys/devices/virtual/gpio && chmod -R 770 /sys/devices/virtual/gpio'"

No change after reboot

Noted gpiochip0 still had root:root owne

[2017-01-03 19:04] svvitale commented on #46
How about creating the missing symlinks and assigning the permissions to match this screenshot?

![2017-01-03-184920_1920x1200_scrot](https://cloud.githubusercontent.com/assets/137162/21619389/5d01ba68-d1e7-11e6-9eb2-eb0cdc2e7c1a.png)

Unfortunately since I don't see this issue on either my old or new Raspbian installations, I'm just shooting in the dark a bit.  Not sure where these symlinks came

[2017-01-26 17:03] nils-werner opened #47 "Don't require sudo for install"
As far as I can tell you only need `sudo` for

[code]

in `get_nxpRdLib.sh`.

Running `sudo pip` is [dangerous and frowned upon](http://stackoverflow.com/questions/21055859/what-are-the-risks-of-running-sudo-pip) and people usually don't like some scripts updating and changing their system during installation. Also, installing `nxppy` on anything but Debian/Raspbian is impossible.

I would argue i

[2017-01-26 23:03] nils-werner opened #48 "Some environments require -fPIC"
Unfortunately, the contents of `nxp/` are not compiled using the `-fPIC` flag, which prevents my version of Python of linking against it. A fix is to change `get_nxpRdLib.sh:29`

    cmake ..

to

    CFLAGS=-fPIC cmake ..

If you like I can create a PR so you can test this against your environment.

[2017-01-29 10:03] nils-werner commented on #46
I am seeing the same issue on Arch Linux. I have created an udev rule

[code]

and all permissions seem to be correctly set:

[code]

[2017-01-29 11:02] nils-werner commented on #46
I figured it out. I can export pins just fine as a regular user

[code]

however, inside `/sys/class/gpio/gpio2`, the permissions were still wrong:

[code]

because the files were linked from `/sys/devices/platform/soc/`

[code]

If I added this directories to my udev rule

[code]

everything works as expected now.

[2017-01-30 09:53] DamienMolina opened #52 "Can't read from various tags"
Hello,
I try to read from some tags:
* The NFC sample card delivered with my explore-nfc-ww reader.
* A Sony Xperia Z3 compact.
* A M24SR64 from ST

I can detect the tag, and read the UUID for all 3 of them.
However I can only read the Sample card, and not the two others. I get this error:
`nxppy.ReadError: Read failed: 0201`
What is the meaning of the error code 0201?
Is it due to the tag type?

[2017-01-30 16:27] svvitale commented on #46
@michela @rosshwalker can you try out @nils-werner's solution and see if it resolves your issue as well?

[2017-01-30 17:10] #47 closed

[2017-01-30 17:11] #48 closed

[2017-01-30 17:12] svvitale commented on #48
Thanks for all the help, @nils-werner!  I'll roll these up into a release once I finish some other changes I've been working on.

[2017-01-30 20:31] nils-werner opened #53 "SystemError: NULL result without error in PyObject_Call"
Please answer these questions as part of your new issue.

##### Which version of Python are you using?
2.7.13

##### Which OS and version are you running?
latest Arch Linux

##### Is SPI enabled?
yes

##### Are you trying to read/write a Mifare Classic card?  (This is currently unsupported)
no

I have installed nxppy from `master` on an old Raspberry Pi 1 model B and am seeing the following error:

[2017-01-30 20:35] nils-werner commented on #53
Ah, just figured out a solution. I had a look at the [Python 2.7 C class example](https://docs.python.org/2.7/extending/newtypes.html#adding-data-and-methods-to-the-basic-example) and tried changing `Mifare_init` to return

[code]

instead of

[code]

and it works fine. No idea how it affects Python 3...

[2017-02-01 20:43] svvitale commented on #52
Hi @DamienMolina,

0x201 indicates that there was a timeout in the HAL component.  It's required that you activate a tag using `select()` first, and then proceed to read data.  Have you tried that?  Example code below.

[code]

[2017-02-02 23:18] Gadouille commented on #5
Hello,
I reloaded nxppy to get Altercodex branch for 1K mifare, yet the get_type method is still not known. I wonder if sudo pip install nxppy is sufficient to get this branch?
Thanks for your work.
Regards

[2017-02-02 23:23] AlterCodex commented on #5
the latest  low level libs from nxp doesn't works with my branch, I will need to update my sources to make it compatible with them, but I'm really short on time for now if you can get and old zip file with the sources maybe you can use my branch

[2017-02-05 20:07] Gadouille commented on #5
Thanks for your answer,
I had neard-explorenfc_0.4-1_armhf.deb, I replaced it by neard-explorenfc_0.1-1_armhf.deb, but I still have the problem (_AttributeError: 'nxppy.Mifare' object has no attribute 'get_type'_). Can you tell me which version shall be working?
Otherwise, there is no hurry, If you intend to update the source one day, I can wait.
Thank you very much.

[2017-02-13 12:28] nils-werner commented on #53
@svvitale Any thoughts on this?

[2017-02-19 13:46] #53 closed

[2017-02-19 13:47] svvitale commented on #52
@DamienMolina, let me know if you need additional help here and I'll reopen the issue.

[2017-02-19 13:48] svvitale commented on #46
Please let me know if @nils-werner's solution doesn't work for you, and I'll be happy to try and troubleshoot further.

[2017-02-19 13:48] #46 closed

[2017-02-20 08:34] DamienMolina commented on #52
Sorry, I didn't have access to my NFC Reader.
Here's my test with the select():
[code]

[2017-02-20 17:39] svvitale commented on #52
0706 indicates that the Mifare component of the NXP reader library encountered a response that violates the Mifare protocol.  Are you sure this is a Mifare-compatible tag?

[2017-02-23 07:40] DamienMolina commented on #52
I think you're right, I don't have a Mifare-compatible tag, it comes from ST. I thought it could be all right nonetheless.

[2017-02-23 07:40] #52 closed

[2017-02-28 10:58] donikuy commented on #5
Hi,

I am trying to download and install nxppy for the EXPLORE-NFC kit but always encounter issues.

When i type "sudo pip install nxppy" the error i receive is "Cannot fetch index base URL https://pypi.python.org/simple/
Could not find any downloads that satisfy the requirement nxppy".

Also it does not work with git clone command.

Any ideas why i get this error?
![nxppy install issue](https://c

[2017-02-28 13:04] AlterCodex commented on #5
When I was studying I had the same error because in my college were some proxy's and security protocols in the network that didn't make possible the connection to github.

[2017-02-28 13:09] donikuy commented on #5
Hi,

Thanks. I think that is what I am running into as well. Need to figure out what to type to get through that.
Or can I download the files and install manually?

[2017-03-06 19:33] svvitale commented on #5
@donikuy, please shoot me an email or file a separate issue if you're still having trouble.  This conversation is unrelated to issue #5.

[2017-03-09 13:51] NickvDr opened #55 "NXP source code fails to download during build"
Hi,

I'm trying to install your nxppy with python 2.7.9 on Raspbian Jessie but got the following error:

`sudo pip install git+git://github.com/svvitale/nxppy.git
Collecting git+git://github.com/svvitale/nxppy.git
  Cloning git://github.com/svvitale/nxppy.git to /tmp/pip-tJWzqS-build
Installing collected packages: nxppy
  Running setup.py install for nxppy ... error
    Complete output from comman

[2017-03-09 13:58] ahilti commented on #55
Experiencing the same issue but it's due to
https://github.com/svvitale/nxppy/blob/master/get_nxpRdLib.sh#L11
in get_nxpRdLib.sh pointing to a non existing Explore NFC Library File.

[2017-03-09 14:03] NickvDr commented on #55
@ahilti Thanks for the quick reply!

Is there already a fix for this?

[2017-03-09 14:17] NickvDr commented on #55
I found a fix for it:

Download the following zip: https://cache.nxp.com/secured/assets/downloads/data/en/software/SW3693-1.zip?__gda__=1489075520_224a1c84b368c9877839e4bc078e3224&fileExt=.zip

Then rename it to nxp.zip and store it somewhere online.

After storing it online edit https://github.com/svvitale/nxppy/blob/master/get_nxpRdLib.sh#L11 and replace the current link for your link.

That wou

[2017-03-09 14:42] michaelneurohr commented on #55
Please try again with the commit d30583d82b4c93c5e9a321591d4e2adaa4eb75c4

[2017-03-10 08:45] serfati5 commented on #5
Hi, I'm trying to read/write more than UID from Mifare Classic 4K. I don't get how to do it cause the segments are different than 1K cards.
Should I need this authenticate method? Did you get something more about it @svvitale @AlterCodex?

Here I have what I want to replicate more or less but it's using C# instead.
https://www.cooking-hacks.com/documentation/tutorials/rfid-13-56-mhz-nfc-module-ard

[2017-03-14 01:34] svvitale commented on #55
Verified broken state, and verified correct operation after @michaelneurohr's commit.  Thanks!

[2017-03-14 01:36] svvitale commented on #5
Yes, @serfati5, all Mifare Classic cards will require this authentication before they're usable with nxppy.  Unfortunately I haven't had time to look at re-implementing this with the newer NXP reader library.

[2017-03-21 14:11] benkli opened #57 "Reading from AS3955"
Please answer these questions as part of your new issue.

##### Which version of Python are you using?
2.7.9
##### Which OS and version are you running?
Linux raspberrypi 4.4.38-v7+
##### Is SPI enabled?
yes
##### Are you trying to read/write a Mifare Classic card?  (This is currently unsupported)
I'm trying to read an AMS AS3955 NFC interface tag. This tag acts as an NFC type 2 tag (mifare ultral

[2017-03-23 14:09] benkli commented on #57
Strange! When reading from memory 0xfc alone, an error does not occure. But the returned data is always 0.

[2017-03-30 00:05] AlterCodex commented on #5
@svvitale @serfati5 @Gadouille sorry for the delays in this issue I just started to work on this again, in my branch is already the merge but it doesn't work :'( I have some spare time this week and I hope that by the end of next week the project will be running again.

[2017-04-08 21:33] bellaj opened #59 "Protocol Error, response violated protocol from Mifare PAL-Component"
Please answer these questions as part of your new issue.

##### Which version of Python are you using?
2.7.9
##### Which OS and version are you running?
Debian wheezy
##### Is SPI enabled?
yes
##### Are you trying to read/write a Mifare Classic card?  (This is currently unsupported)
no

I've testing a python code snipet using your library on the raspberry pi 2. But from time to time i get this err

[2017-04-23 13:45] serfati5 commented on #5
Hi!! @svvitale @AlterCodex  thanks for your answers though.
Any news about it? Is it working already?

Thanks!!!

[2017-04-29 17:10] Cognaiscance commented on #28
This fix also worked for mine, thx.

[2017-05-04 16:56] P1K3N opened #60 "Send a file from Raspberry PI to Android"
Please answer these questions as part of your new issue.

##### Which version of Python are you using?

2.7.9

##### Which OS and version are you running?
Raspbian

##### Is SPI enabled?
Yes

##### Are you trying to read/write a Mifare Classic card?  (This is currently unsupported)
Dont know

###### Hello guys
I'm desperate to understand this lib, but I really can't get it.
I have this explore-nfc

[2017-05-09 13:10] sherylll commented on #60
I think this is not possible with this lib (nxppy) though. What you need should be P2P mode, check out the examples that come with the original NXP reader library.

It would be cool to wrap the functions related with P2P mode from the library, but I don't know how difficult it is to do that... Wish someone could help too.

Otherwise there is still nfcpy, which apparently doesn't support explore-nf

[2017-05-09 22:52] svvitale commented on #60
Hi @P1K3N,

As @sherylll mentioned, nxppy has only very limited functionality focused on reading and writing tags.  I believe for what you're describing, you can take a look at the Card Emulation example in the [NXP Start-up Guide](http://www.nxp.com/documents/application_note/AN11480.pdf).  This will allow you to use the EXPLORE-NFC as an emulated "card" and then read from that card using your sm

[2017-05-18 09:04] Salabansi opened #61 "Reading Data from Tag ISO14443 -4B"
Please answer these questions as part of your new issue.

##### Which version of Python are you using?
Python3
##### Which OS and version are you running?
Linux
##### Is SPI enabled?
Yes
##### Are you trying to read/write a Mifare Classic card?  (This is currently unsupported)
No

[2017-05-18 09:05] Salabansi commented on #61
Hey Guys,

is there any python wrapper which I cann use to read Tags with ISO14443 4B standard?

Nxppy https://github.com/svvitale/nxppy/blob/master/README.md  is only using ISO144443 3A/4A standards. Or is there a way to reuse this software??

Thanks in advance.

Cheers

[2017-05-22 14:53] Salabansi opened #62 "Error while installing nxppy"
Please answer these questions as part of your new issue.

##### Which version of Python are you using?
3
##### Which OS and version are you running?
Linux 8 (jessie)
##### Is SPI enabled?
yes
##### Are you trying to read/write a Mifare Classic card?  (This is currently unsupported)
yes

[2017-05-22 14:55] svvitale commented on #62
What's the error you're seeing?

[2017-05-22 14:56] Salabansi commented on #62
Fatal Error while i´m running sudo pip install nxppy:

Can´t find Python.h in directory.

What should i do? I downloaded the content and tried to install it by cmake&make, but there is also an error.
Any solvings??

Thx
Bassem

[2017-05-22 14:59] svvitale commented on #62
You're missing the python-dev package for your version of python. Please `apt-get install python3-dev` or `python2.7-dev` as appropriate.

[2017-05-23 09:55] Salabansi commented on #62
Thank you!

I already got python3. After I installed python2.7-dev it´s working.
Is nxppy ready to read ISO14443 Type B Tags??

Greez

[2017-06-01 17:58] eecharlie opened #63 "Request to add updated ordering info link to readme"
The uk.farnell link in your readme is a product page listing the explorer board as 'no longer stocked'. A similar link took me to a distributor called CPC which only ships to the UK.

The catalog link that did work for me (and ships to many countries, including UK and US) is:

https://www.newark.com/nxp/explore-nfc-ww/nfc-add-on-board-raspberry-pi/dp/45X6356

Thanks,

Charlie

[2017-06-01 18:26] #63 closed

[2017-06-01 18:26] svvitale commented on #63
Updated, thanks!

[2017-07-27 15:14] svvitale commented on #61
Hi @Salabansi, from what I can tell, this can be implemented within nxppy.  Unfortunately I don't have any 4B tags to test with.  Would it be possible for you to mail me a few samples?

[2017-07-28 06:37] manojrohit commented on #61
Hello @svvitale. The NXP Reader Library has no APIs to read the NDEF message to read type 4B tags. However the UID of the type 4b tags can be read using few APIs but not NDEF.

[2017-07-28 15:41] svvitale commented on #61
I admit I haven't looked that closely, but given that the PN512 supports 14443/4B tags, I assumed there'd be a way to read the data pages in addition to the UID.  Currently, nxppy uses this same method on 4A tags and then parses the data into NDEF messages.

[2017-08-01 18:49] chlangbein commented on #5
Any news on this ? I've checked out https://github.com/AlterCodex/nxppy and could compile it if I change Mifare.c
345c345
<       uint8_t t= sDiscLoop.bDetectedTechs;
---

but it looks like the repository is not complete, I'm missing classic_read and classic_write methods. Any hints for this ?

[2017-08-01 22:41] AlterCodex commented on #5
Hi @chlangbein, some time ago I had to stop developing this because the new npx files (the zip that has all the libraries ) doesn't work with our connection board :( and we have like 200 hundreds of rpi and explore boards running as a product, so we have to keep  them running in  a really old source versions. But if you want to finish the develop maybe I can help you, my email is: fjb.pacho@gmail.

[2017-08-10 13:40] svvitale commented on #57
Was the `MFC_BLOCK_DATA_SIZE` the only change you made?  Any other side effects that you can tell?  If not, I'd like to merge your changes into master.  Mind filing a pull request?

[2017-08-10 14:05] benkli commented on #57
Hi Scott!
I copied the mifare_read(...) function and made a second one named mifare_read16(...). This one had the changed MFC_BLOCK_DATA_SIZE=16 in it. This solution enabled me to interface the AS3955’s buffer. I Couldn’t recognize any side effects.

I’m an electrical engineer and not very familiar with the git terminology, so I’m not quite sure what a pull request is. J

With best regards

Benjam

[2017-08-10 14:33] svvitale commented on #57
Ah, no problem.  I'll give it a try using your description and we can go from there.  I'll ping you again when I need a guinea pig :).  I'll reopen this issue since it is something that needs to be fixed.

[2018-01-15 11:14] cegea commented on #55
Hi,

The link has changed again. [https://github.com/svvitale/nxppy/blob/master/get_nxpRdLib.sh#L11](https://github.com/svvitale/nxppy/blob/master/get_nxpRdLib.sh#L11)

[2018-01-15 16:30] svvitale commented on #55
@michaelneurohr can you provide an updated link?

[2018-01-15 16:36] cegea commented on #55
I can't, sorry. I think the problem is that you need to be logged to download the file each time, so the link won't last a day.

[2018-01-16 20:17] michox commented on #55
can someone provide a link or that zip file? i really need it

[2018-01-16 22:16] cegea commented on #55
Look for sw3693. [NXP engine search](https://www.nxp.com/search?client=nxp_search_all_results&site=nxp_en&proxystylesheet=nxp_search_style_fe&sort=date%3AD%3AL%3Ad1&oe=UTF-8&ie=UTF-8&ud=1&output=xml_no_dtd&exclude_apps=1&callback=ss_show&lang_cd=en&filter=0&getfields=*&baseUrl=%2F%2Fwww.nxp.com%2Fwebapp&SEARCH_OPERATOR=Contains&attempt=-1&rc=1&hl=en&dnavs=&q=sw3693)

[2018-01-18 20:03] SamOliver1995 opened #65 "Receiving NDEF message from Android to Raspberry Pi"
Hi There,

I am using Raspberry Pi 3 with Raspbian Jessie and SPI is enabled. The board I am using for the NFC receiver is the NXP-EXPLORE board.

What I'm trying (and failing) to achieve, is sending a simple NDEF message from my android phone to the Raspberry Pi, the Raspberry Pi reads it in using the Nxppy library. It will read any other card, just won't pick up the message from my phone.

Is wh

[2018-01-21 13:48] rsydwidiadi commented on #55
What is the next step after download it? Sorry I still don't understand how it works.

[2018-01-21 14:50] michox commented on #55
after you download the archive, you rename it to nxp.zip and then upload it somewhere. I uploaded it to dropbox with the link https://www.dropbox.com/s/yrl2hqvda1r07lx/nxp.zip?dl=1
You can try that one but im not sure if dropbox might have issues with downloading something over wget, I used a dropbox command instead of wget. If it doesn't work find an upload service upload it yourself and try it w

[2018-01-21 18:53] svvitale commented on #55
Hi all, I've just committed d47ef72 which will look for a local file named `nxp.zip` before trying (and failing) to download it directly from NXP.  I'm working with the NXP representatives to figure out the best way to manage this going forward.

For now, you can clone the nxppy master branch, download the reader library directly from NXP and save as nxp.zip.  Then run `python setup.py install` to

[2018-01-23 14:16] dosenfisch opened #66 "nxp.zip removed"
The installer can't open the nxp.zip.

    End-of-central-directory signature not found.  Either this file is not
    a zipfile, or it constitutes one disk of a multi-part archive.  In the
    latter case the central directory and zipfile comment will be found on
    the last disk(s) of this archive.
   unzip:  cannot find zipfile directory in one of nxp.zip or
   nxp.zip.zip, and cannot find nxp.

[2018-01-23 21:00] svvitale commented on #66
Duplicate to #55.

[2018-01-23 21:00] #66 closed

[2018-01-24 15:35] sabberlatz opened #67 "Error at installation of xnppy"
Please answer these questions as part of your new issue.

##### Which version of Python are you using?
2.7 and 3

##### Which OS and version are you running?
Jessie and Stretch
##### Is SPI enabled?
sure :-)
##### Are you trying to read/write a Mifare Classic card?  (This is currently unsupported)
yes

HI, I have difficulties installing xnppy. I already updated and upgraded the RPi, installed pyth

[2018-01-24 16:03] svvitale commented on #67
Duplicate of #55

[2018-01-24 16:03] #67 closed

[2018-01-25 07:56] sabberlatz commented on #55
I still have difficulties, installing nxppy.

here the logfile:

pi@raspberrypi:~ $ sudo python setup.py install
running install
running bdist_egg
running egg_info
creating nxppy.egg-info
writing nxppy.egg-info/PKG-INFO
writing top-level names to nxppy.egg-info/top_level.txt
writing dependency_links to nxppy.egg-info/dependency_links.txt
writing manifest file 'nxppy.egg-info/SOURCES.txt'
reading m

[2018-01-25 08:39] sabberlatz commented on #55
....and if I download the nxp.zip file from the link, provided in the .sh file, it has only 22kb and is corrupt.

any idea?

should be so easy.....

[2018-01-25 13:53] sabberlatz commented on #55
I have still difficulties. If I try to compile the stuff I receive at 87% following error:

========================================
[ 85%] Building C object NfcrdlibEx3_NFCForum/CMakeFiles/NfcrdlibEx3_NFCForum.dir/src/phApp_Init.c.o
[ 85%] Linking C executable NfcrdlibEx3_NFCForum
[ 85%] Built target NfcrdlibEx3_NFCForum
Scanning dependencies of target NfcrdlibEx4_MIFAREClassic
[ 86%] Building C

[2018-01-25 13:55] sabberlatz commented on #55
Hi,

I have still difficulties compiling the stuff:

[ 85%] Building C object NfcrdlibEx3_NFCForum/CMakeFiles/NfcrdlibEx3_NFCForum.dir/src/phApp_Init.c.o
[ 85%] Linking C executable NfcrdlibEx3_NFCForum
[ 85%] Built target NfcrdlibEx3_NFCForum
Scanning dependencies of target NfcrdlibEx4_MIFAREClassic
[ 86%] Building C object NfcrdlibEx4_MIFAREClassic/CMakeFiles/NfcrdlibEx4_MIFAREClassic.dir/Nfcrdl

[2018-01-25 14:44] dosenfisch commented on #55
I just found out that "SW3693-ARCHIVED.zip" is the only version of SW3693, that is working as nxp.zip.

[2018-01-25 15:10] sabberlatz commented on #55
do you have the link to download it for me?
thank you very much!

[2018-01-25 15:53] svvitale commented on #55
Steps to install (for now):

1. Clone this repo
1. Go to https://www.nxp.com/products/identification-and-security/nfc/nfc-reader-ics/explore-nfc-exclusive-from-element14:PNEV512R?tab=Design_Tools_Tab and download the "NFC Reader Library for Linux".
1. Make sure that the zip you downloaded is named `nxp.zip` and is located in the root of this code repo.  No need to extract it, the install process w

[2018-01-25 20:04] michox commented on #55
i installed the package successfully but if i execute a mifare.select() it just stops there. no error no output. nothing. i would like to reinstall it, but if i delete the folder, python still imports the package. How can i completely remove nxppy from my raspberry?

[2018-01-25 21:57] svvitale commented on #55
By default, you must run your script as root to access the SPI port.  Try running your script with `sudo`.  To remove the package, use `sudo pip uninstall nxppy` or `pip uninstall nxppy` (if you're in a virtualenv).

[2018-01-25 22:00] michox commented on #55
Heiner.frueh@ieh.uni-stuttgart.de
--
Diese Nachricht wurde von meinem Android Mobiltelefon mit WEB.DE Mail gesendet.Am 25.01.18, 22:57, Scott Vitale <notifications@github.com> schrieb:
By default, you must run your script as root to access the SPI port.  Try running your script with sudo.  To remove the package, use sudo pip uninstall nxppy or pip uninstall nxppy (if you're in a virtualenv).

—You

[2018-01-26 09:32] Heiner92 commented on #55
I installed nxppy as you said (created an account on nxp.com) but I have the same error as michbox.

I can import the module nxppy but I cant use the "uid=mifare.select()" method. I have tried running it with root privileges as you suggested. No Difference.
It says "nxppy.InitError: Nxppy: Internal Error from BAL Component"

I have verfied the functionality of the NFC-Module. (I have a sencond one

[2018-01-29 09:23] sabberlatz commented on #55
Sorry, I give up.

Where I have to copy the nxp.zip? What do you mean with "in the root of this code repo"? I have the path "/home/pi/". There I copied the content of the nxppy-master.zip and so I got the path

/home/pi/nxppy-master/

I copied the nxp.zip you providede in this path and started "sudo python setup.pl install".

I received the same ugly error messages as follows:

- - - - - - - - - -

[2018-01-29 16:52] dosenfisch commented on #55
Search for [SW3693-ARCHIVED.zip at NXP](https://www.nxp.com/search?client=nxp_search_all_results&site=nxp_en&proxystylesheet=nxp_search_style_fe&sort=date%3AD%3AL%3Ad1&oe=UTF-8&ie=UTF-8&ud=1&output=xml_no_dtd&exclude_apps=1&callback=ss_show&lang_cd=en&filter=0&getfields=*&baseUrl=%2F%2Fwww.nxp.com%2Fwebapp&SEARCH_OPERATOR=Contains&attempt=-1&rc=1&hl=en&dnavs=&q=SW3693-ARCHIVED.zip). That was the o

[2018-01-30 10:37] sabberlatz commented on #55
Vielen Dank "dosenfisch"!

It´s now working. Here is a summary how it should work:

prepare the system as usual by entering....

sudo apt-get upgrade
sudo apt-get update
sudo apt-get install python-dev

and activate the SPI port by using sudo raspi-config

1. renaming after downloading on a stick the file **SW3693-ARCHIVED.zip** to **nxp.zip**
2. copy this **nxp.zip** file into the already downloa

[2018-01-30 11:20] sabberlatz opened #68 "mifare.read() stop executing of program"
Please answer these questions as part of your new issue.

##### Which version of Python are you using?
3 and 2.7

##### Which OS and version are you running?
Raspberry Stretch
##### Is SPI enabled?
yes
##### Are you trying to read/write a Mifare Classic card?  (This is currently unsupported)
I have the issue, that mifare.read() stop the program without any error message. The code after the command

[2018-01-31 14:04] sabberlatz commented on #68
Yes, I found out, it´s card related. With my new Mifare ultralight chips it´s working. I can write and read 4 byte segments.

have fun!
I<it

[2018-02-13 09:08] mdurruty opened #69 "phhwConfig.h not found during install"
I use:
* Ubuntu 16.04
* Python3.5.2
* SPI is enabled

`pip install nxppy ` leads to the error  `phhwConfig.h: No such file or directory`.
I have the same error while installing from the sources.
Thank you for your help.

My logs below :

## username@my-VirtualBox:~$ sudo apt-get install build-essential cmake python3-dev unzip wget
[sudo] password for username:
Reading package lists... Done
Buildin

[2018-02-13 15:38] svvitale commented on #69
Duplicate of #55

[2018-02-13 15:38] #69 closed

[2018-02-19 16:30] Tetrikus commented on #55
Danke, @sabberlatz
Quite useful step-by-step guide. Unfortunately this isn't working for me. I'm sure I'm doing something wrong.

1. I did clone the repo to /home/pi/nxppy-master
2. I did download the sw3693-Archive and copied it into the ..master root
3. I chmod'ed to 777
4. **sudo ./get_nxpRdLib.sh** tells me the following:

`nxp.zip found, extracting
NXP Reader Library found, skipping download

[2018-02-20 16:57] svvitale commented on #55
@Tetrikus, did you get it going?  I'm working on a longer term fix for this, but it's not quite there yet.

[2018-02-20 20:45] Tetrikus commented on #55
@svvitale Thanks, yes, I did.. once I managed to do this workaround correctly, everything went smooth.

[2018-03-06 09:29] Hvorost opened #70 "problem on step (uid = mifare.select() ) nothing happens."
Please answer these questions as part of your new issue.

##### Which version of Python are you using?
2.7 and 3.4
##### Which OS and version are you running?
Raspbian Jessie and raspbian stretch
##### Is SPI enabled?
yes

Hello , I have  a problem when I try select uid, also when I try to read/write function. On this step nothing happends! The process is stuck and no one error message. Maybe I ca

[2018-03-12 15:39] csaeum commented on #62
I get the following error when running Raspy3 with Stretch while executing pip install nxppy

The .deb I could install and there the NFC test script works but the script of small.li breaks off with missing nxppy.

===
Collecting nxppy
  Using cached nxppy-1.5.1.tar.gz
Building wheels for collected packages: nxppy
  Running setup.py bdist_wheel for nxppy: started
  Running setup.py bdist_wheel for

[2018-03-13 15:05] svvitale commented on #62
@csaeum see #55.  We're close to releasing a better solution for this issue with the help of NXP.

[2018-03-13 15:14] svvitale opened #71 "Support reading ISO14443 Type B Tags"
Need to add new methods to support reading Type B tags and their contents.

[2018-03-13 15:14] svvitale commented on #62
@Salabansi nxppy hasn't been written specifically to work with Type B tags.  From what I can find in the NXP forums, the underlying PN512 does support Type B, but it may require some additional work in the C layer.  I've added this as a separate feature request (#71) and I'll close this issue since your installation issues were resolved.

[2018-03-13 15:14] #62 closed

[2018-03-13 15:15] svvitale commented on #70
This library is only compatible with the EXPLORE-NFC which is PN512 based.

[2018-03-13 15:15] #70 closed

[2018-03-13 15:17] svvitale commented on #68
Sounds like this may have triggered a segmentation fault in the underlying C code.  Would you be willing to mail me one of these "white" cards so I can reproduce and fix the bug?  I'm based in Denver, Colorado, USA.  Send me an email (svvitale@gmail.com) and we can coordinate.

[2018-03-13 15:19] svvitale commented on #61
Created a separate issue to track enhancements to this functionality (#71).

[2018-03-13 15:19] #61 closed

[2018-03-13 16:12] sabberlatz commented on #68
Hello Scott,

I assume it´s easier for you ordering such card from ebay. Here is one of the offer where you can see the card. You should be able to buy such card separately. My card is lost anywhere in my house 😊

https://www.ebay.com/itm/PN532-NFC-Module-RFID-Reader-KIT-for-Arduino-Raspberry-Pi-3-3-5-5V/322672095344?_trkparms=aid%3D555017%26algo%3DPL.CASSINI%26ao%3D1%26asc%3D20160706104836%26meid

[2018-03-13 16:52] svvitale commented on #68
I'm guessing this is a Mifare Ultralight and there's a known issue with the `read()` method and these types of cards.  They don't properly indicate their size in the card memory, so we end up reading off the end.  Thanks for jogging my memory, I'll resolve this soon.

[2018-03-19 00:27] #55 closed

[2018-03-19 00:27] #57 closed

[2018-03-19 00:27] #68 closed

[2018-03-19 00:32] svvitale commented on #55
Thank you for your patience, everyone.  NXP has released a new nxppy-compatible DEB package file.  See the latest README.md for instructions on how to download and install it.  Once it's installed, running ```pip install nxppy``` will get you the latest version of nxppy.  Cheers!

[2018-04-14 16:07] Keriz opened #73 "Mifare Init Error"
Please answer these questions as part of your new issue.

##### Which version of Python are you using?
Python 2.7
##### Which OS and version are you running?
Armbian 5.38 Ubuntu 16.04 LTS 3.4.112-sun8i
##### Is SPI enabled?
Yes
##### Are you trying to read/write a Mifare Classic card?  (This is currently unsupported)
No

Hello,
I followed all the steps on the readme and the installation process wa

[2018-04-14 16:27] svvitale commented on #73
Hi @Keriz,

I haven't seen this one before.  Are you running the polling example as root?

[2018-04-14 16:36] Keriz commented on #73
Thanks for the quick answer. Yes I am running the polling example as root.

[2018-04-14 16:46] svvitale commented on #73
Is this on a Raspberry Pi or an Orange Pi?  I don't see any Armbian builds for Raspberry Pi.  Forgive me if that's a stupid question - I'm not familiar with this distro.

[2018-04-14 16:50] Keriz commented on #73
This is on an Orange Pi, sorry for not precising it in my post, as it might be the cause of the problem (but why?)

Maybe it is a hardware specific issue?

[2018-05-09 14:04] open-net-sarl opened #74 "Nxppy: Internal Error from BAL Component"
Please answer these questions as part of your new issue.

*Which version of Python are you using?*
Python 2.7.9
*Which OS and version are you running?*
Raspbian GNU/Linux 8 (jessie)
*Is SPI enabled?*
Yes
*Are you trying to read/write a Mifare Classic card?  (This is currently unsupported)*
No

Hello,

I've carefully installed (multiple time) nxppy following the README but for each installation whe

[2018-05-09 14:13] open-net-sarl commented on #74
After a day of struggling I solve my own problem, my SPI was simply not properly enabled.

nxppy work perfectly,

Great work.

[2018-05-09 14:13] #74 closed

[2018-06-04 14:16] nils-werner opened #75 "sudo apt-get install nxprdlib doesn't work"
When trying to install nxppy the following message appears:

    NXP Reader library not found.  Install it using `sudo apt-get install nxprdlib`

however when running said command, `apt-get` can't find that package. Are you certain the package exists in the Raspian repositories?

The readme mentions a different installation routine altogether...

[2018-06-04 15:12] svvitale commented on #75
Yes, you're correct, the NXP Reader library is not available in the Raspbian repos.  I'll get that error message cleaned up.  The procedure in the README is correct.

[2018-06-04 15:19] #75 closed

[2018-10-20 13:43] iceman1001 opened #76 "bug in nxp lib?"
Please answer these questions as part of your new issue.

##### Which version of Python are you using?
v2.7
##### Which OS and version are you running?
PI
##### Is SPI enabled?
yes
##### Are you trying to read/write a Mifare Classic card?  (This is currently unsupported)
no

There seems to be a bug in the NxpLib.
--

Thread 1 "python" received signal SIGSEGV, Segmentation fault.
0x76aa47e8 in phba

[2018-10-21 22:03] svvitale commented on #76
@michaelneurohr, can you verify?  I agree with @iceman1001 that this line looks fishy.

[2018-10-22 02:12] iceman1001 commented on #76
The bug is triggered in my stress tests,  when sending a select/write sequence in a loop with a sleep 1sec each iteration. It takes around 240-320 times before triggered.  If the loop has a sleep for two seconds or more the loop can run to 3000 times at least.
Could it be spi transfer being called too fast?

[2018-10-22 19:45] Wilhelmsson177 opened #77 "Run in Thread not working"
Please answer these questions as part of your new issue.

##### Which version of Python are you using?
Python 2.7 and Python 3.5

##### Which OS and version are you running?
Raspbian GNU/Linux 9 (stretch)
##### Is SPI enabled?
Yes
##### Are you trying to read/write a Mifare Classic card?  (This is currently unsupported)
No

When I try to run the example in a Thread the python program gets terminat

[2018-10-23 18:51] Wilhelmsson177 commented on #77
Figured it out myself.

[2018-10-23 18:51] #77 closed

[2018-12-16 16:52] Antjevb commented on #55
@svvvital Where do I find this README.md for these download and install instructions? The README.md in the nxppy-release-1.5.1 does not include instructions for a nxpp-compatible DEB package file.

[2018-12-18 13:35] svvitale commented on #55
Hi @Antjevb , you need to move to the 1.6.0 release.  Here are the instructions on installing the NXP pre-requisite: https://github.com/svvitale/nxppy/blob/master/README.md#external-components

[2018-12-19 22:07] Antjevb commented on #55
Thank you for you answer. I moved to the 1.6.0. release and installed the DEB file succesfully.

[2018-12-19 22:45] Antjevb opened #78 "Import nxppy error: Import Error: nxppy.so: undefined symbol: Py_InitModule4"
##### Which version of Python are you using?
Python 3.5.3

##### Which OS and version are you running?
Linux / Raspberry Pi 3B+ / Rasbian

##### Is SPI enabled?
Yes

##### Are you trying to read/write a Mifare Classic card?  (This is currently unsupported)
No

When I try to import the nxppy module, the Python Shell responds with this Import Error:
"Import Error: /[path]/nxppy.so: undefined symbol:

[2018-12-19 23:03] svvitale commented on #78
Hi @Antjevb,

Can you verify that you built nxppy.so and are running it with the exact same version of Python?  Sounds like it may have been built for 2.x and run on 3.x or vice versa.  You may have to use `pip3 install nxppy` to build it using Python 3.

[2018-12-20 20:44] Antjevb commented on #78
Hey @svvitale ,

`pip3 install nxppy` results into:
[code]

[2018-12-29 00:05] Antjevb commented on #78
Update:
After a clean installation of Raspbian I followed the instructions as you suggested here at Github.
It works like a charm!
I don't know what went wrong before, but I must have messed up something to get these previous results. It might have something to do with installing both Python 2.7 and Python 3.0.

[2019-01-02 22:51] svvitale commented on #78
Glad to hear you got it resolved.

[2019-01-02 22:51] #78 closed

[2020-08-18 06:58] thibww67 opened #79 "Write Ndef on a tag"
Please answer these questions as part of your new issue.

##### Which version of Python are you using?
Python 3.7.3

##### Which OS and version are you running?
Raspbian Lite on RPi

##### Is SPI enabled?
Yes

##### Are you trying to read/write a Mifare Classic card?  (This is currently unsupported)
No

I'm trying to write a text as a Ndef message on a tag with my Explore-NFC. I see that we can re

[2020-08-19 08:15] thibww67 commented on #18
Hi @marfis89,
I know it's a long time ago, but did you remember how to write a NDEF message with this library ? Is it working with write_block ?
Thank you !

[2020-08-19 18:33] svvitale commented on #79
Hi @thibww67,

Yes, `write_block()` is the correct way to go about this.  First, if the tag is not already "formatted" as NDEF, you'll need to write the "capability container":

[code]

Once that's done, you can write the contents of your full NDEF message from block 4 on.  If you're using `ndeflib`, that should look something like this:

[code]

I wrote that mostly from memory, so let me know if

[2020-08-20 09:13] thibww67 commented on #79
Thank you for your quick answer !

I will try it soon and let you know if it works.
Now I will try to see if it is possible to use 2 Explore NFC on a single RPi, but I think it is not because of the software.

[2020-08-20 15:07] svvitale commented on #79
I don't think you can easily multiplex the SPI connections.  You could potentially add a switch board to toggle between two Explore boards, but I don't believe there's a way to use them simultaneously without a ton of work.  ACR122U's are also compatible with the Pi if a USB solution is possible in your situation.

[2020-08-21 06:49] thibww67 commented on #79
Yes, that what I thought, for my application I think I will use the Adafruit NFC Breakout Board, and with its library for python, I can use multiple modules on the SPI.
But thank you for your help !even if I will change my card I tried to use this librar, my code is very simple :

import nxppy
import ndef
import time

mifare = nxppy.Mifare()

#print card UIDs as they are detected
while True:
try:

[2020-08-24 09:39] thibww67 commented on #73
@Keriz It's a long time ago but did you find a solution.. I am desperated !

[2020-08-24 12:52] thibww67 commented on #79
I reflashed it on a new raspbian Lite and it works perfectly !

[2020-08-24 12:52] #79 closed, assigned to nobody

[2020-08-25 08:42] thibww67 commented on #79
Concerning the code you dropped, I had to correct some things, for example block_write can't write a message different of 4 bytes, so now I can right anything in the memory but it is not recognize as an Ndef, however the message is correctly encode. I keep working on it !

EDIT : I succeeded to write Ndef by giving a bytes command before the message, if it interests you, I can share the code :)

[2020-08-30 18:36] Thunder8Storm commented on #73
I have the same error on a new installed raspberry 3b. Any ideas to fix this?
<img width="627" alt="Unbenannt" src="https://user-images.githubusercontent.com/36677549/91666829-68437480-eb00-11ea-897e-7c9b91fbe930.PNG">

[2020-08-30 19:19] Keriz commented on #73
@thibww67 @Thunder8Storm Sorry for the late reply. It's a long time ago and I don't remember finding a solution to this.
Maybe try changing of distribution, or dive into the nxxpy code if you feel capable.

[2020-08-30 20:59] thibww67 commented on #73
For my part, I had this error when I worked on a RPi used for an other application. But when I tried to work on a totally new version, it works. Try to just installed the libraries that you need for nxppy.

[2020-08-31 08:51] Thunder8Storm commented on #73
@thibww67 I am using a fresh Raspberry Pi OS, downloaded yesterday with their installer / imager for Windows. I tried reinstall two times once with gui once without. Both not working. Which OS did you use?

[2020-08-31 09:15] thibww67 commented on #73
@Thunder8Storm I use Raspbian Lite for my application, but I don't know the real problem behind this error so it's complicated..

[2020-08-31 17:27] Thunder8Storm commented on #73
@thibww67 I got it work today with an image of Raspian Jessie. Thank you for your help!

[2020-09-29 10:35] incubo4u commented on #73
The error exists in my case on almost every distribution for rpi 4 4ram

[2020-12-01 20:41] AlexanderLaix opened #80 "NXP NFC Reader PNEV512R with nxppy not working with Raspberry Pi 4"
Please answer these questions as part of your new issue.

##### Which version of Python are you using?
Python-3.6
##### Which OS and version are you running?
Raspbian GNU/Linux 10
##### Is SPI enabled?
Yes --> and already checked!
##### Are you trying to read/write a Mifare Classic card?  (This is currently unsupported)
Also

Hi,
the NFC card reader PNEV512R (https://www.nxp.com/products/rfid-nfc/

[2020-12-13 14:57] AlexanderLaix commented on #73
... Almost? Which is working?
I have the same issue I guess https://github.com/svvitale/nxppy/issues/80

[2022-06-06 01:28] mac2612 commented on #73
Hi, on my Pi 2 this was a GPIO conflict - the NXP driver tries to grab GPIO7, which is already taken for cs1 (chip select 1) in the SPI driver.

After switching to single chip select setup, nxppy works without issue.

In /boot/config.txt, right after the line 'dtparam=spi=on', add this line:
dtoverlay=spi0-1cs

Then, reboot the pi. I have not tried this on a pi4, but I suspect it's same/similar is